
	*, *:before, *:after { box-sizing: border-box; }
	body { margin: 0; }
	img {	display: block; max-width: 100%; }



	body { font-family: Avenir; }
	.home-page h1 {
		font-size: 3rem;
		font-weight: 400;
		margin: 1rem 0 0 0;
		color: purple;
	}
	.home-page p { color: purple; }



	body { margin: 4rem; }



	h1 { color: green; }


p {
	color: green;
}