body {
  width: 80%;
  margin: 2rem auto; }

section {
  margin-bottom: 2rem; }

header {
  background: yellow; }

main {
  background: #eee; }

header, footer {
  display: none; }

aside {
  background: red; }

footer {
  background: #222121;
  color: white; }

img {
  width: 100%; }

figcaption {
  font-size: 0.8rem; }

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .one main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%; }
  .one aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%; }

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .two main {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7; }
  .two aside {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3; }
