@font-face {
  font-family: 'Battling';
  src: url("../fonts/Battling1NPmed.otf") format("opentype"); }
body {
  background: #CDEEF4; }

main {
  margin: 10vh 23vw;
  height: 80vh;
  width: 54vw;
  display: grid;
  grid-template-rows: 2fr 25px 1fr 25px 1fr 25px 1fr 25px 2fr;
  grid-template-columns: 25px 1fr 25px 1fr 50px;
  grid-gap: 1px; }

h1 {
  grid-row: 3 / 8;
  grid-column: 1 / -1; }

h1, h2 {
  font-family: Battling, Helvetica, serif;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  justify-self: center;
  display: block;
  font-size: 9.29vw;
  margin: 0.14em 0 0 0;
  padding: 0;
  line-height: 0.7; }

h1.part1 {
  grid-row: 3; }

h1.part2 {
  grid-row: 7;
  font-size: 10vw; }

/*h1 span:first-child {
  grid-row: 1;
}
h1 span:last-child {
  grid-row: 5;
} */
h2 {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  font-size: 8.2vw; }

.rect {
  background: #2D3691; }

.rect1 {
  grid-row: 1;
  grid-column: 1; }

.rect2 {
  grid-row: 1;
  grid-column: 3; }

.rect3 {
  grid-row: 2;
  grid-column: 1 / -1; }

.rect4 {
  grid-row: 4;
  grid-column: 1 / -1; }

.rect5 {
  grid-row: 6;
  grid-column: 1 / -1; }

.rect6 {
  grid-row: 8;
  grid-column: 1 / -1; }

.rect7 {
  grid-row: 9;
  grid-column: 1; }

.circle1 {
  grid-row: 1;
  grid-column: 5; }

.circle2 {
  grid-row: 9;
  grid-column: 5;
  align-self: self-end; }
