html {
  font-size: 18px; }

h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em; }

ul {
  padding: 0;
  margin: 10px 0; }

li {
  list-style-type: none; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

li {
  margin: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

img {
  width: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); }
