html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px;
  margin-bottom: 200px; }

main {
  width: 80%;
  margin: 2em auto; }

article {
  margin: 100px 0; }

footer {
  text-align: center;
  margin: 3em 0 3em 0;
  clear: both; }

h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 3rem;
  color: #64664A;
  margin: 0 0 1em;
  line-height: 1.1em;
  -webkit-column-span: all;
          column-span: all; }

h2 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 1.5rem;
  color: #64664A;
  font-weight: 400; }

p {
  line-height: 1.5em; }

article {
  -webkit-column-width: 200px;
          column-width: 200px;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  -webkit-column-rule: 1px solid #444;
          column-rule: 1px solid #444; }
  article img {
    width: 100%;
    margin: 1em 0;
    display: block; }
  article figure {
    -webkit-column-span: all;
            column-span: all;
    margin: 1em 0;
    font-style: italic;
    color: #999; }

ul {
  -webkit-columns: 250px;
          columns: 250px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid black; }

section {
  -webkit-column-width: 300px;
          column-width: 300px; }
  section div {
    border: 1px solid black;
    margin: 0 10px 20px;
    padding-bottom: 1rem;
    -webkit-column-break-inside: avoid;
            break-inside: avoid; }
  section h2, section p {
    margin: 0 1rem;
    margin-right: 1rem; }
