* { box-sizing: border-box; }

img { width: 100%; }
  
html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px; 
}

body {
  width: 80%;
  margin: 8rem 15% 5rem 5%;
  max-width: 800px; 
}

h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 5rem;
  color: #6e8e21;
  margin: 0;
  line-height: 1.1em; 
}

p, ul {
  line-height: 1.75em; 
}

h1.egg {
  color: #AA5734; 
}
h1.tomato {
  color: #F23628; 
}
h1.apples {
  color: #A13A45; 
}
h1.blackberry {
  color: #214095; 
}
.orange h1 {
	color: #ffa64a;
}
.plum h1 {
  color: #A51029; 
}

h1, h2, h3, p {
  margin-left: 20vw; 
}

img {
  width: 36vw;
  float: left;
  margin: 1em; 
}

img.tomato {
  margin-bottom: 0;
  shape-outside: circle(); 
}

img.egg {
  shape-outside: ellipse(); 
}

img.grapes {
  width: 50vw;
  shape-outside: polygon(nonzero, 72.35% 83.95%, 45.5% 94.3%, 0% 100%, 0% 88.4%, 0% 23.7%, 38.7% 11.35%, 55% 11.1%, 63.5% 22.7%, 72.15% 20.75%, 79.1% 30.6%, 79.8% 34.55%, 87.6% 43.95%, 83.7% 57.3%, 89.15% 65.7%, 92.55% 72.1%, 91.15% 83.2%); 
}

img.apples {
  width: 60vw;
	shape-outside: url("../images/apples-mask.png");
  shape-margin: 0.8em;
  shape-image-threshold: 0.5; 
}

img.blackberry {
  width: 40vw;
  shape-outside: attr(src url);
  shape-margin: 0.8em;
  shape-image-threshold: 0.5; 
}

.orange article {
  column-count: 2; 
}
.orange h1 {
  column-span: all;
  margin-bottom: 1.5rem; 
}
.orange p {
  margin-top: 0;
  margin-left: 0; 
}
.orange img {
  shape-outside: circle();
  width: 50%;
  float: left;
  margin: 0 1em 1em 0; 
}
.orange img.second {
  width: 300px;
  margin-left: -150px; 
}

.plum {
  width: 800px; 
}
.plum h1 {
  margin-bottom: 2rem;
}
.plum img {
  width: 72px;
  float: none;
  margin: 0;
  border-radius: 50%; 
}
.plum .big {
  shape-outside: polygon(nonzero, -0.4% 20.3%, 5.2% 19.25%, 22.2% 37.8%, 60.2% 55.35%, 79.8% 70.5%, 64.2% 81.4%, 41.4% 81.6%, 30.8% 91.25%, 28% 99.8%, 0% 99.55%);
  shape-margin: 1em;
  width: 50%;
  float: left;
  font-size: 3vw;
  font-size: 2rem;
  margin-top: 100px;
  margin-right: 100px; 
}






























