* {
  box-sizing: border-box; }

body {
  background: #F0F0F0;
  margin: 0; }

main {
  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); }

figure {
  margin: 0; }

img {
  display: block;
  width: 100%;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.06); }

.warning {
  margin-left: 1em;
  max-width: 600px;
  font-size: 80%;
  color: red; }

@supports ((display: -ms-grid) or (display: grid)) {
  .warning {
    display: none; } }
