div {
  color: #fff;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  div p {
    margin: auto; }

.pane-1 {
  background: #b0dfe3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20vw;
          flex: 1 1 20vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.pane-2 {
  background: #e4e7ea;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
  .pane-2 div {
    height: 20vh;
    width: 20vw; }
  .pane-2 div {
    margin: 10vh 10vw; }

.pane-3 {
  background: #b0dfe3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .pane-3 div {
    height: 20vh;
    width: 20vw; }
  .pane-3 div:nth-child(1) {
    margin: 20vh 9.5vw 10vh 19.5vw; }
  .pane-3 div:nth-child(2) {
    margin: 20vh 19.5vw 10vh 9.5vw; }
  .pane-3 div:nth-child(3) {
    margin: 10vh 9.5vw 20vh 19.5vw; }
  .pane-3 div:nth-child(4) {
    margin: 10vh 19.5vw 20vh 9.5vw; }

.pane-4 {
  background: #80b8f4;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(6, 20vh);
  grid-template-columns: repeat(6, 20vw); }
  .pane-4 div:nth-child(1) {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .pane-4 div:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 4 / 5; }
  .pane-4 div:nth-child(3) {
    grid-row: 4 / 5;
    grid-column: 2 / 3; }
  .pane-4 div:nth-child(4) {
    grid-row: 4 / 5;
    grid-column: 4 / 5; }
