/*
font-family:'Vere Dignum LT W01';
font-family:'Le Havre Hand W01 Crosshatch';
font-family:'Lexia Ad W01 Regular';
font-family:'CaslonClassico W00 Bold';
font-family:'BauerBodoniW01-Regular';
font-family:'BauerBodoniW01-RegItali';
font-family:'BauerBodoniW01-DemiBold';
font-family:'BauerBodoniW01-DemiBdIt_927290';
font-family:'Bauer Bodoni W01 Bold_927278';
font-family:'BauerBodoniW01-BoldItal_927296';
font-family:'BauerBodoniW01-RegDispl';
font-family:'BauerBodoniW01-DisCapsR';
font-family:'BauerBodoniW01-RegItalD';
font-family:'BauerBodoniW01-DemiBdDi';
font-family:'BauerBodoniW01-DemiBdIt_927287';
font-family:'BauerBodoniW01-BoldDisp';
font-family:'BauerBodoniW01-BdItalDi';
font-family:'Bodoni W01 Poster691960';
font-family:'BodoniW01-PosterItalic';
font-family:'BodoniW01-PosterCompres';
font-family:'EngraversGothicBTW01-Re';
font-family:'AdobeGaramondW01-Regula';
font-family:'Adobe Garamond W01 It';
font-family:'Adobe Garamond W01 SmBd';
font-family:'AdobeGaramondW01-SmBdIt';
font-family:'Adobe Garamond W01 Bd';
font-family:'AdobeGaramondW01-BdIt';
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

img {
  width: 100%; }

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); }
