* {
  box-sizing: border-box; }

html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 100%;
  background: #f6f3ea;
  color: rgba(12, 12, 10, 0.8);
  line-height: 1.3;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

img {
  width: 100%; }

body {
  width: 90%;
  max-width: 600px;
  margin: 2em auto 3em; }

/* --------------------------------------------------------*/
a {
  color: #f71309;
  text-decoration: none; }

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase; }

h1 {
  margin-bottom: 1rem; }

ul {
  margin: 1rem 0; }

section {
  padding: 1rem 0;
  margin: 0;
  border-top: 1rem solid #f9423a; }

ul.with-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem -1rem 0;
  padding: 0;
  font-size: 90%; }
  ul.with-thumbnails li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.codepenlink {
  font-size: 0.85rem;
  margin: 0.5rem 0; }
  .codepenlink a {
    color: rgba(149, 149, 128, 0.8); }
