* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  margin: 0; }

main {
  font-family: monospace;
  margin: 1rem 3rem 3rem; }

ul {
  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  align-items: start;
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  /* autoprefixer: off */
  display: grid;
  align-items: end; }

img {
  display: block;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

h2 {
  background: black;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem;
  margin: 0; }
