* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  margin: 0; }

main {
  font-family: monospace;
  margin: 1rem 3rem 3rem; }

img {
  display: block;
  width: 100%; }

h2 {
  background: black;
  color: white;
  padding: 1rem;
  margin: 0; }

ul {
  /* autoprefixer: off */
  background: #ffffbf;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  align-items: start;
  margin: 3rem 0;
  padding: 0;
  list-style: none; }

.cards-in-grid li {
  /* autoprefixer: off */
  display: grid;
  align-items: end; }

.cards-in-grid img {
  /* autoprefixer: off */
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.cards-in-grid h2 {
  /* autoprefixer: off */
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.cards-in-flexbox-1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.cards-in-flexbox-1 img {
  -o-object-fit: cover;
     object-fit: cover; }

.cards-in-flexbox-2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.cards-in-flexbox-2 img {
  -o-object-fit: cover;
     object-fit: cover; }
