* {
  box-sizing: border-box; }

html {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (140px)[3];
      grid-template-columns: repeat(3, 140px);
  grid-auto-rows: 120px;
  grid-gap: 0.5rem;
  font-family: 'Neue Haas Grotesk W01 Disp',Helvetica, sans-serif;
  font-weight: 600; }

p {
  grid-area: 2 / 1 / 5 / 3;
  font-size: 32rem;
  z-index: 2;
  line-height: 1;
  margin: -4rem 0 0;
  padding: 0; }

img {
  grid-area: 4 / 3;
  width: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end; }

b {
  background-image: url(../media/02-001/noise.png);
  background-blend-mode: multiply;
  background-repeat: repeat; }

b:nth-of-type(1) {
  background-color: #FCF536;
  grid-area: 1 / 1; }

b:nth-of-type(2) {
  background-color: #F53F1E;
  grid-area: 1 / 2; }

b:nth-of-type(3) {
  background-color: #4CA4E1;
  grid-area: 2 / 1; }

b:nth-of-type(4) {
  background-color: #4CA4E1;
  grid-area: 2 / 2; }

b:nth-of-type(5) {
  background-color: #FCF536;
  grid-area: 2 / 3; }

b:nth-of-type(6) {
  background-color: #76A621;
  grid-area: 3 / 3; }

b:nth-of-type(7) {
  background-color: #76A621;
  grid-area: 4 / 1; }

b:nth-of-type(8) {
  background-color: #F53F1E;
  grid-area: 5 / 3; }
