* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 100%;
  color: rgba(12, 12, 10, 0.8);
  font-weight: 300; }

body {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase; }

a {
  color: rgba(12, 12, 10, 0.8);
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

ul > li {
  padding: 0; }

ol {
  padding: 0;
  margin: 0; }

/* --------------------------------------------------------*/
header {
  background: #f6f3ea;
  min-height: 100vh;
  padding: 5rem 5vw 2rem; }
  header h1 {
    font-size: calc(1.1rem + 1.8vw);
    margin: 0;
    line-height: 1.2em; }
  header p {
    margin: 2rem 0 0; }
  header ul {
    margin: 0; }
  header p,
  header a {
    color: rgba(38, 37, 32, 0.7); }
  header a {
    border-bottom: 1px solid rgba(169, 169, 169, 0.79); }

@supports (display: grid) {
  header {
    /* autoprefixer: off */
    display: flex;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 12rem; }
    header .header-wrapper {
      /* autoprefixer: off */
      width: 66vw;
      display: grid;
      margin: auto;
      grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
      grid-template-rows: auto 1fr 1fr auto  auto;
      grid-gap: 1rem;
      transform: rotate(-45deg); }
    header h1:nth-child(1) {
      /* autoprefixer: off */
      grid-column: 1 / 4;
      text-align: right; }
    header h1:nth-child(2) {
      /* autoprefixer: off */
      color: #f9423a;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-top: -10px;
      margin-right: -10px; }
    header p {
      margin: 0;
      color: rgba(12, 12, 10, 0.8); }
    header a {
      border-bottom: none;
      text-transform: uppercase;
      color: rgba(12, 12, 10, 0.8);
      font-weight: 700; }
    header .references {
      /* autoprefixer: off */
      grid-column: 1 / 3;
      grid-row: 4 / span 2;
      font-weight: 700;
      line-height: 1.2;
      align-self: end; }
      header .references li {
        border-top: 5px solid rgba(12, 12, 10, 0.8);
        text-align: left;
        padding: 2px 0; }
      header .references li:last-child {
        border-bottom: 5px solid rgba(12, 12, 10, 0.8); }
      header .references p {
        padding: 2px 0; }
    header .red-line {
      /* autoprefixer: off */
      grid-column: 3 / 6;
      grid-row: 5;
      border-bottom: 25px solid #f9423a;
      align-self: start;
      justify-content: end; }
    header .more-examples {
      /* autoprefixer: off */
      border-top: 5px solid rgba(12, 12, 10, 0.8);
      border-bottom: 5px solid rgba(12, 12, 10, 0.8);
      font-weight: 700;
      grid-row: 3;
      grid-column: 4 / 6;
      align-self: end; }
    @media (max-width: 820px) {
      header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem; }
        header .header-wrapper {
          /* autoprefixer: off */
          transform: rotate(0); }
        header h1:nth-child(2) {
          margin-top: -5px; }
        header .more-examples {
          margin-left: 1rem;
          -ms-flex-item-align: start;
              align-self: start; }
        header .red-line {
          border-bottom: 20px solid #f9423a; } }
    @media (max-width: 700px) {
      header .references {
        /* autoprefixer: off */
        grid-column: 3 / -1;
        grid-row: 6; } }
    @media (max-width: 500px) {
      header .header-wrapper {
        /* autoprefixer: off */
        width: 66vw;
        grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
        grid-template-rows: auto auto  auto auto; }
      header h1:nth-child(1) {
        grid-column: 1 / -1; }
      header h1:nth-child(2) {
        grid-column: 5;
        grid-row: 2 / 4;
        margin-right: -5px; }
      header .red-line {
        grid-column: 1 / 4;
        grid-row: 3;
        border-bottom: 10px solid #f9423a; }
      header .references {
        grid-column: 1 / -1;
        grid-row: 4; }
      header .more-examples {
        grid-column: 1 / -1;
        grid-row: 5;
        margin-left: 0; } }
    @media (min-width: 1000px) {
      header {
        padding-bottom: 15rem; } }
    @media (min-width: 1300px) {
      header {
        padding-bottom: 25rem; } }
    @media (min-width: 1800px) {
      header {
        padding-bottom: 30rem; } } }
