* {box-sizing: border-box;}
html {
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
main {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr 2fr 1fr 1fr 4fr 1fr;
  grid-template-rows: 200px 200px 100px 400px 200px 600px 200px 150px 150px 200px 300px 100px 200px;
  grid-gap: 2rem 1rem;
}
b {

}
b:nth-of-type(1){
  grid-row: 2;
  grid-column: 4;
  background: #CA9AC4;
}
b:nth-of-type(2){
  grid-row: 2;
  grid-column: 4;
  background: #BE7AA7;
}
b:nth-of-type(3){
  grid-row: 3;
  grid-column: 3;
  background: #DA89C7;
}
b:nth-of-type(4){
  grid-row: 4;
  grid-column: 5;
  background: #67365E;
}
b:nth-of-type(5){
  grid-row: 6;
  grid-column: 2;
  background: #B680AD;
}
b:nth-of-type(6){
  grid-row: 7;
  grid-column: 4;
  background: #D899B3;
}
b:nth-of-type(7){
  grid-row: 7 / span 2;
  grid-column: 4;
  background: #D695A1;
}
b:nth-of-type(8){
  grid-row: 8;
  grid-column: 6;
  background: #E8CAD9;
}
b:nth-of-type(9){
  grid-row: 8 / span 2;
  grid-column: 9;
  background: #D7B0B8;
}
b:nth-of-type(10){
  grid-row: 10;
  grid-column: 7;
  background: #CCA2B2;
}
b:nth-of-type(11){
  grid-row: 10 / span 2;
  grid-column: 6;
  background: #E9D0D4;
}
b:nth-of-type(12){
  grid-row: 11;
  grid-column: 5;
  background: #A48493;
}
b:nth-of-type(13){
  grid-row: 12;
  grid-column: 2;
  background: #DEA8C0;
}
