* { box-sizing: border-box; }
html { font-size: 100%;}
body {margin: 0;}
main {
  font-family: monospace;
  margin: 1rem 3rem 3rem;
}
img {
  display: block;
  width: 100%;
}
h2 {
  background: black;
  color: white;
  padding: 1rem;
  margin: 0;
}
ul {  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  align-items: start;
  margin: 3rem 0;
  padding: 0;
  list-style: none;
}
.cards-in-grid {
  li { /* autoprefixer: off */
    display: grid;
    align-items: end;
  }
  img { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  h2 { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.cards-in-flexbox-1 {
  li {
    display: flex;
  }
  img {
    object-fit: cover;
  }
}
.cards-in-flexbox-2 {
  li {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: cover;
  }
}

//-----------------------------------------------------------------------------------------------------
// Isolated CSS To show interop bug, reported at: https://bugzilla.mozilla.org/show_bug.cgi?id=1349320
//-----------------------------------------------------------------------------------------------------

.bugreport ul {  /* autoprefixer: off */
  background: #b8e4e4;
}
.cards-in-grid-bug-1 {
  li { /* autoprefixer: off */
    display: grid;
    align-items: end;
  }
  img { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  h2 { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.cards-in-grid-bug-2 {
  li { /* autoprefixer: off */
    display: grid;
  }
  img { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  h2 { /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
  }
}




