* {box-sizing: border-box;}
html {
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
main {
  margin: 4rem;
}
article { /* autoprefixer: off */
  display: grid;
  grid-template-columns: 275px 1fr 2fr;
  grid-template-rows: minmax(100px, 5fr) -webkit-min-content 2fr; // Safari needs prefix for min-content still, fix on it's way — trac.webkit.org/changeset/213831/webkit
  grid-template-rows: minmax(100px, 5fr) min-content 2fr;
  max-width: 60rem;
}
img { /* autoprefixer: off */
  grid-column: 1 / 3;
  grid-row: 1 / span 3;
  object-fit: cover;
  box-shadow: 1rem 1rem cyan;
}
h2 { /* autoprefixer: off */
  font-family:'Sanchez Slab W03', Courier, serif;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 0;
  grid-column: 2 / 4;
  grid-row: 2;
  span {
    display: inline;
    padding: 0.5rem 0.25rem 0;
    box-decoration-break: clone;
    background: #FFED00;  
  }
}
