* { box-sizing: border-box; }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  background: #ccc;
  line-height: 1.2;
}
img {
  width: 100%;
}
article {
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
}

.index {
  background: white;
  margin: 3rem;
  ul {
    margin: 2rem auto;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 0.85rem;
    font-weight: normal;
    margin: 0.5rem 0 0;
  }
  img {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border: 1px solid #aaa;
  }
  a {
    text-decoration: none;
  }
}
@supports (display: grid) {
  .index {
    ul { /* autoprefixer: off */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-gap: 2rem;
      width: auto;
    }
    li {
      width: auto;
      margin: 0;
    }
  }
}

// Flow -------------------------------------------

.A {
  main {
    width: 960px;
    margin: 2rem auto;
  }
 article {
    width: 250px;
    margin-bottom: 20px;
  }
}

// Floats -------------------------------------------

.B,
.C {
/* Here, I'm coding like it's 2009. Not a good idea for 2015. Don't do this.*/
  main {
    width: 960px;
    margin: 2rem auto;
  }
  article {
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

// Multicolumn -------------------------------------------

.D {
  margin: 4em; 
  h1 {
    margin-top: 0;
    margin-left: 0.75rem;
  }
  main {
    columns: 250px;
    column-gap: 20px;
  }
  article {
    break-inside: avoid-column; 
    margin-bottom: 1rem;
  }
}

// Flexbox -------------------------------------------

.E {
  margin: 3em; 
  h1 {margin-left: 0.75rem;}
  main {
    display: flex;
  }
  article {
    margin-right: 1rem;
  }
}

// Grid, auto-placement  -------------------------------------------

.F,
.G,
.H,
.I {
  margin: 4em; 
  h1 {
    margin-top: 0;
    margin-left: 0.75rem;
  }
  main { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
  }
}

.G {
  main {
    align-items: start;
  }  
}

.H {
  main {
    align-items: end;
  }  
}

.I {
  main {
    align-items: center;
  }
}

// Grid, variety of sized items -------------------------------------------

.J,
.K {
  margin: 4em; 
  h1 {
    margin-top: 0;
    margin-left: 0.75rem;
  }
  main { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
  }
  article:nth-child(1), 
  article:nth-child(6), 
  article:nth-child(10) { /* autoprefixer: off */
    grid-row: span 2;
    grid-column: span 2;
  }
}
.K {
  main { /* autoprefixer: off */
    grid-auto-flow: dense;
  }
}

// Grid, explicitly placed items -------------------------------------------

.L {
  margin: 4em; 
  h1 {
    margin-top: 0;
    margin-left: 0.75rem;
  }
  main { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(8, minmax(110px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: start;
  }
  article:nth-child(1) { /* autoprefixer: off */
    grid-row: 2 / span 3;
    grid-column: 2 / span 2;
  }
  article:nth-child(2) { /* autoprefixer: off */
    grid-row: 1 / span 3;
    grid-column: 5 / span 2;
  }
  article:nth-child(3) { /* autoprefixer: off */
    grid-row: 3 / span 3;
    grid-column: 4 / span 2;
  }
  article:nth-child(4) { /* autoprefixer: off */
    grid-row: 4 / span 3;
    grid-column: 6 / span 2;
  }
  article:nth-child(5) { /* autoprefixer: off */
    grid-row: 5 / span 3;
    grid-column: 1 / span 2;
  }
  article:nth-child(6) { /* autoprefixer: off */
    grid-row: 6 / span 3;
    grid-column: 3 / span 2;
  }
  article:nth-child(7) { /* autoprefixer: off */
    grid-row: 7 / span 3;
    grid-column: 6 / span 2;
  }
  article:nth-child(8) { /* autoprefixer: off */
    grid-row: 8 / span 3;
    grid-column: 1 / span 2;
  }
  article:nth-child(9) { /* autoprefixer: off */
    grid-row: 9 / span 3;
    grid-column: 4 / span 2;
  }
  article:nth-child(10) { /* autoprefixer: off */
    grid-row: 11 / span 3;
    grid-column: 2 / span 2;
  }  
  article:nth-child(11) { /* autoprefixer: off */
    grid-row: 10 / span 3;
    grid-column: 6 / span 2;
  }
  article:nth-child(12) { /* autoprefixer: off */
    grid-row: 12 / span 3;
    grid-column: 4 / span 2;
  }     
}







