* {box-sizing: border-box;}
html { font-family: Helvetica; font-size: 100%;}
.fixed {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 4px;
    width: calc(400px + 12px + 4.4rem);
  }
}
@media (max-width: 660px) {
  .fixed  ul {
    grid-template-columns: repeat(3, 100px);
    width: calc(300px + 8px + 4.4rem);
  }
}
@media (max-width: 490px) {
  .fixed  ul {
    grid-template-columns: repeat(2, 100px);
    width: calc(200px + 4px + 4.4rem);
  }
}
@media (max-width: 320px) {
  .fixed  ul {
    grid-template-columns: repeat(1, 100px);
    width: calc(100px + 4.4rem);
  }
}

.fluid {
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.25rem;
    max-width: 100%;
  }
}

.responsive {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 0.25rem;
  }
}

.explicitly-placed {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
  }
  li:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  li:nth-child(2) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  li:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  li:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  li:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
  }
}

.overlapping {
  h1 {
    margin-bottom: 1.2rem;
  }
  ul {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 3fr 6fr;
    max-width: 600px;
  }
  li:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 2;
  }
  li:nth-child(2) {
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
  }
  li:nth-child(3) {
    grid-row: 4 / span 3;
    grid-column: 4 / span 2;
    z-index: 2;
  }


}

// Styling 

html {
  font-size:100%;
}
body {
  font-family:'Viva Beautiful W01 Regu5374909';  
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
section {
  margin: 3rem 4rem 8rem;
}
ul {
  list-style: none;
  margin: 0 0 0 2rem;
  padding: 2.2rem;
  background: #f6f3ea;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
}
h1 {
  font-size: 3rem;
  font-weight:normal;
  text-transform: lowercase;
  margin: 0;
    margin-bottom: 0.8rem;
  
  line-height: 1;
}
main > h1 {
  background: yellow;
  padding: 0.3em 0.3em 0;
  font-size: 2rem;
}
@media (min-width: 660px) {
  section {
    margin-left: 6rem;
  }
  main > h1 {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: fixed;
    left: 0;
    top: 3rem;
    padding: 1em 0;
  }
}
footer {
  font-size: 2.4em;
  padding: 2rem 5rem;
  text-align: right;
  a {
    color: #456a71;
    text-decoration: none;
  }
}
.warning {
  border: 1px solid pink;
  background: rgba(255,0,0,0.1);
  padding: 2rem;
  margin: 2rem 4rem 8rem 7rem;
  font-family: georgia, serif;
  line-height: 1.2;
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}
