* {box-sizing: border-box;}
html {
  font-family:Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
h1, h2, h3 {
// font-family:'Garamond Premier W01 Disp', georgia, serif;
 
}
body { 
  margin: 0;
  font-size: 1.2rem;
}

main { /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1.4rem;
  margin: 1.4rem;
}
h1 { /* autoprefixer: off */
  grid-row: 1;
  grid-column: 3 / 6;
  font-size: 2rem;
  line-height: 1.1;
}
img {
  width: 100%;
  object-fit: cover;
}
img:nth-of-type(1) { /* autoprefixer: off */
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}
img:nth-of-type(2) { /* autoprefixer: off */
  grid-row: 3 ;
  grid-column: 3;
}
img:nth-of-type(3) { /* autoprefixer: off */
  grid-row: 3 ;
  grid-column: 4;
}
img:nth-of-type(4) { /* autoprefixer: off */
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
img:nth-of-type(5) { /* autoprefixer: off */
  grid-row: 6 ;
  grid-column: 3;
}
img:nth-of-type(6) { /* autoprefixer: off */
  grid-row: 6 ;
  grid-column: 4;
}
img:nth-of-type(7) { /* autoprefixer: off */
  grid-row:  7 / span 2;
  grid-column: 3 / span 2;
}
section {
  grid-column: 1 / span 2;  
}
section:nth-of-type(1) { /* autoprefixer: off */
  grid-row: 1 / span 2;
}
section:nth-of-type(2) { /* autoprefixer: off */
  grid-row: 3 / span 2;
}
section:nth-of-type(3) { /* autoprefixer: off */
  grid-row: 4 / span 2;
}
section:nth-of-type(4) { /* autoprefixer: off */
  grid-row: 6 / span 2;
}
section:nth-of-type(5) { /* autoprefixer: off */
  grid-row:7 / span 2;
}

