* {box-sizing: border-box;}
html { font-family: Avenir, Helvetica; font-size: 100%;}  
ul {
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  grid-template-rows: repeat(5, 10vw);
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  min-height: 90vh;
  list-style: none;
  margin: 0 0 2vw;
  padding: 0;
  font-size: calc(2vw + 10px);
}
li {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-top: 0.4rem;
  }  
}
li:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
li:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
li:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}
li:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}
li:nth-child(5) {
  grid-row: 1;
  grid-column: 5;
}
li:nth-child(6) {
  grid-row: 2;
  grid-column: 5;
}
li:nth-child(7) {
  grid-row: 3;
  grid-column: 5;
}
li:nth-child(8) {
  grid-row: 4;
  grid-column: 5;
}
li:nth-child(9) {
  grid-row: 5;
  grid-column: 5;
}
li:nth-child(10) {
  grid-row: 5;
  grid-column: 4;
}
li:nth-child(11) {
  grid-row: 5;
  grid-column: 3;
}
li:nth-child(12) {
  grid-row: 5;
  grid-column: 2;
}
li:nth-child(13) {
  grid-row: 5;
  grid-column: 1;
}
li:nth-child(14) {
  grid-row: 4;
  grid-column: 1;
}
li:nth-child(15) {
  grid-row: 3;
  grid-column: 1;
}
li:nth-child(16) {
  grid-row: 2;
  grid-column: 1;
}

$color-strip: 2vw;
$border-thickness: 4px;
$color-border: calc(2vw + 4px);


input[type=checkbox]:checked ~ ul { 
  $top-color: #21A55B;
  $right-color: #EA8B39;
  $bottom-color: #C33C83;
  $left-color: #FFEF36;
  li span {
    margin-top: 1.8rem;
  } 
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4) {
    transform: rotate(180deg);
    background: linear-gradient(to bottom, $top-color 0px, $top-color $color-strip, black $color-strip, black $color-border, white $color-border, white 10vw);  
  }
  li:nth-child(6),
  li:nth-child(7),
  li:nth-child(8) {
    transform: rotate(270deg);
    background: linear-gradient(to bottom, $right-color 0px, $right-color $color-strip, black $color-strip, black $color-border, white $color-border, white 10vw);  
  }
  li:nth-child(12),
  li:nth-child(11),
  li:nth-child(10) {
    background: linear-gradient(to bottom, $bottom-color 0px, $bottom-color $color-strip, black $color-strip, black $color-border, white $color-border, white 10vw);  
  }
  li:nth-child(16),
  li:nth-child(15),
  li:nth-child(14) {
    transform: rotate(90deg);
    background: linear-gradient(to bottom, $left-color 0px, $left-color $color-strip, black $color-strip, black $color-border, white $color-border, white 10vw);  
  }
  li:nth-child(1) span {
    transform: rotate(135deg);
    margin-top: 0;
  }
  li:nth-child(5) span {
    transform: rotate(225deg);
    margin-top: 0;
  }
  li:nth-child(9) span {
    transform: rotate(315deg);
    margin-top: 0;
  }
  li:nth-child(13) span {
    transform: rotate(45deg);
    margin-top: 0;
  }
}

.note {
  background: #ddd;
  font-family: monospace;
  padding: 2em 5em;
  font-size: 120%;
  order: -1;
}
@supports (display:grid) {
  .note {display:none;}
}