* {box-sizing: border-box;}
html {
  font-family:'Adobe Caslon W01', Georgia, serif;
  line-height: 1.4;
  font-size: 100%;
  color: #222;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}

body { 
  margin: 0;
  font-size: 1.3rem;
}

main { /* autoprefixer: off */
  margin: 4rem;
  display: grid;
  grid-template-columns: 100px 1fr 1fr minmax(40ch, 65ch) 1fr;
  grid-template-rows: -webkit-min-content 4rem 8rem auto; // Safari needs prefix for min-content still, fix on it's way — trac.webkit.org/changeset/213831/webkit 
  grid-template-rows: min-content 4rem 8rem auto;
  grid-gap: 1rem;
}
@media (max-width: 670px) {
  main {
    margin: 4rem 2rem;
    grid-template-columns: 1fr 1fr 1fr minmax(24ch, 40ch) 1fr;
    grid-gap: 0;
  }
}
h1 { /* autoprefixer: off */
  grid-row: 1;
  grid-column: 3 / 6;
  margin: 0;
  font-size: 3.6rem;
  line-height: 1.1;
}
@media (max-width: 970px) {
 h1 {
  font-size: calc(2rem + 2.5vw);
 } 
}
.article-body { /* autoprefixer: off */
  grid-row: 2 / 5;
  grid-column: 4;
}
span { /* autoprefixer: off */
  background: cyan;
  display: block;
}
span:nth-of-type(1) { /* autoprefixer: off */
  grid-row: 3;
  grid-column: 1;
}
span:nth-of-type(2) { /* autoprefixer: off */
  grid-row: 3;
  grid-column: 3;
}
span:nth-of-type(3) { /* autoprefixer: off */
  grid-row: 3;
  grid-column: 2;
}
span:nth-of-type(4) { /* autoprefixer: off */
  grid-row: 2;
  grid-column: 1;
}
span:nth-of-type(5) { /* autoprefixer: off */
  grid-row: 3;
  grid-column: 5;
}
img {
  width: 100%;
}



