
//colors
$red: rgba(249, 66, 58, 1);
$text: rgba(12, 12, 10, 0.8);
$paper: #f6f3ea;

* { box-sizing: border-box; }
html {
  font-family: 'Futura W01', helvetica, san-serif;
  line-height: 1.3;
  font-size: 100%;
  color: $text;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
body {
  margin: 0;
}

section {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 5px solid black;
}
ul {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  li {
    background: #eee;
    margin: 0.5rem 1rem;
  }
}

.squishy-images {
  img {
    width: 100%;
  }
}
.wrapped {
  flex-wrap: wrap;
}

.group1 {

}

.group2 {


}



.group3 {
  
}
