* {
  box-sizing: border-box;
}
body {
  background: #F0F0F0;
  margin: 0;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
img {
  display: block;
  box-shadow: -1px 0px 0px rgba(0,0,0,0.06);
  width: 100%;
}
