//colors
$red: rgba(249, 66, 58, 1);
$text: rgba(12, 12, 10, 0.8);
$background: #f6f3ea;
$page-margin: 5vw;

* {
  box-sizing: border-box; 
}
html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 100%;
  background: $background;
  color: $text;
  line-height: 1.3;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
img {
  width: 100%; 
}

body {
  width: 90%;
  max-width: 600px;
  margin: 2em auto 3em;
}
 
  
/* --------------------------------------------------------*/
  
a {
  color: darken($red, 10%);
  text-decoration: none;
}  
h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
}
h1 {
  margin-bottom: 1rem;
}
ul {
  margin: 1rem 0;
}
section {
  padding: 1rem 0;
  margin: 0;
  border-top: 1rem solid $red;
}
ul.with-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem 0;
  padding: 0;
  font-size: 90%;
  li {
    flex: 0 1 120px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.codepenlink {
  font-size: 0.85rem;
  margin: 0.5rem 0;
  a {
    color: lighten($text, 50%);
  }
}

