/*
Font: 		Cutout
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T7820/cutout
Foundry: 	Olga Zakharova
Foundry: 	https://www.youworkforthem.com/designer/949/olga-zakharova
Copyright:	Olga Zakharova
Version: 	17
Created:	April 21, 2017
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Cutout-Regular';
	src: url('cutout.eot');
	src: url('cutout.eot?#iefix') format('embedded-opentype'),
             url('cutout.woff2') format('woff2'),
	     url('cutout.woff') format('woff'),
	     url('cutout.ttf') format('truetype'),
	     url('cutout.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
