//colors
$red: rgba(249, 66, 58, 1);
$text: rgba(12, 12, 10, 0.8);
$background: #f6f3ea;
$page-margin: 5vw;

* {
  box-sizing: border-box; 
}
html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 16px;
  color: $text;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
img {
  width: 100%; 
}


  
/* --------------------------------------------------------*/
  
  
h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
}
a {
  color: $text;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
}
ul > li {
  padding: 0;
}
ol {
  padding: 0;
  margin: 0;  
}
:focus {
  outline: 2px dotted black;
  background: white;
}

/* --------------------------------------------------------*/


header {  
  background: $background;
  min-height: 100vh;
  padding: 5rem $page-margin 2rem;    
  h1 {
    font-size: calc(1.3rem + 1.8vw);
    margin: 0;
    line-height: 1.2em;
  }
  p {
    margin: 2rem 0 0;
  }
  ul {
    margin: 0;
  }
  p,
  a {
    color: rgba(38, 37, 32, 0.7);
  }
  a {
    border-bottom: 1px solid rgba(169, 169, 169, 0.79);
  }
}

@supports (display: grid) {
  header {
      display: flex;
      margin: auto;
      padding-top: 1rem;
      padding-bottom: 12rem;
    .header-wrapper {   /* autoprefixer: off */
      width: 66vw;
      display: grid; 
      margin: auto;
      grid-template-columns: auto 1fr 1fr 1fr 0.5fr; 
      grid-template-rows: auto 1fr 1fr auto  auto;
      grid-gap: 1rem;
      transform: rotate(-45deg);
    } 
    h1:nth-child(1) { /* autoprefixer: off */
      grid-column: 1 / 4;
      text-align: right;
    }
    h1:nth-child(2) { /* autoprefixer: off */
      color: $red;
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-top: -10px;
      margin-right: -10px;
    } 
    p {
      margin: 0;
      color: $text;
    }
    a {
      border-bottom: none;
      text-transform: uppercase;
      color: $text;
      font-weight: 700;
    }
    .demo-list { /* autoprefixer: off */
      grid-column: 1 / 3;
      grid-row: 4 / span 2;
      font-weight: 700;
      line-height: 1.2;
      align-self: end;
      li {
        border-top: 5px solid $text;
        text-align: left;
        padding: 2px 0;
      }
      li:last-child {
        border-bottom: 5px solid $text;
      }
      p {
        padding: 2px 0;
      }
    }
    .follow-links { /* autoprefixer: off */
      grid-column: 3 / 6;
      grid-row: 5;
      font-size: 0.9rem;
      border-bottom: 25px solid $red;
      align-self: start;
      justify-content: end;
      line-height: 1.3;
      padding-bottom: 5px;
    }
    .workshop-link { /* autoprefixer: off */
      border-top: 5px solid $text;
      border-bottom: 5px solid $text;
      font-weight: 700;
      grid-row: 3;
      grid-column: 4 / 6;
      align-self: end;
    }
    .header-note { /* autoprefixer: off */
      display: none;
    }
    @media (max-width: 820px) {
      display: flex;
      margin: auto;
      padding-top: 5rem;
      padding-bottom: 5rem;
      .header-wrapper {   /* autoprefixer: off */
        transform: rotate(0);
      }   
      h1:nth-child(2) {
        margin-top: -5px;
      }    
      .workshop-link {
        margin-left: 1rem;
        align-self: start;
      }
      .follow-links {
        border-bottom: 20px solid $red;
      }
    }
    @media (max-width: 700px) {
      .demo-list {   /* autoprefixer: off */
        grid-column: 3 / -1;
        grid-row: 6;
      }       
    }
    @media (max-width: 500px) {
      .header-wrapper {   /* autoprefixer: off */
        width: 66vw;
        grid-template-columns: auto 1fr 1fr 1fr 0.5fr; 
        grid-template-rows: auto auto  auto auto;
      }      
      h1:nth-child(1) {
        grid-column: 1 / -1;
      }
      h1:nth-child(2) {
        grid-column: 5;
        grid-row: 2 / 4;
        margin-right: -5px;
      }
      .follow-links {
        grid-column: 1 / 4;
        grid-row: 3;
        border-bottom: 10px solid $red;
      }
      .demo-list {
        grid-column: 1 / -1;
        grid-row: 4;
      }
      .workshop-link {
        grid-column: 1 / -1;
        grid-row: 5;
        margin-left: 0;
      }
    }
  }
}


nav {
  background: $red;
  padding: 1.04rem $page-margin 0.9rem calc(5vw + 1.2rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.85rem;
  ol {
    columns: 180px;
    column-gap: 4rem;
    li {
      text-align: left;
      margin: 0;
      padding: 0;
      break-inside: avoid;
    }
  }
}
main > section {
  min-height: 50vh;
  padding: 4rem $page-margin 3rem;
  h3 {
    font-size: 1.4rem;
    margin: 0;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem -1rem 0;
    li {
      flex: 0 1 180px;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  img {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 1rem;
    height: 180px;
    object-fit: cover;
  }
  .codepenlink {
    font-size: 0.85rem;
    margin: 0.5rem 0;
    a {
      color: lighten($text, 50%);
    }
  }
  > footer {
    display: flex;
    color: lighten($text, 50%);
    font-size: 0.85rem;
    div {
      flex: 1;      
    }
    h4 {
      font-weight: 300;
      margin: 0.25rem 0;
    }
    ul {
      margin: 0;
      list-style: square;
      padding: 0 0 0 1rem;
    }
    li {
      margin: 0;
      padding: 0;
    }
    a {
      color: inherit;
    }
  }
}
#initialletter {
  img {
    height: 110px;
  }
}
#regions1, 
#spices {
  img {
    height: 135px;
  }    
}

#multicolumn {
  img {
    height: 160px;
  }
}
#objectfit,
#coversheet,
#imagegallery,
#rotation {
  img {
    height: 170px;
  }
}
#typical {
  img {
    height: 235px;
  }
}





section:nth-child(even) {
  background: #f0efeb; //#f2eee4;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
section:nth-child(odd) {
  background: #fbf9f6; //#f8f6ed;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}
.note {
  margin: 0.3rem 0 0;
  font-size: 0.85rem;
  font-style: italic;
  a {
    border-bottom: 1px dotted #9C9C9C;
  }
}
main > footer {  
  background: darken($text, 5%);
  color: #fff;
  padding: 3rem;
  a {
    color: #eee;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
  }
}
