* {box-sizing:border-box;}

html {
  font-size: 100%;
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}
img {
  max-width: 100%;
  display: block;
}
@import "fonts";

$base-font: 'print_char_21medium', Courier, monospace;
$heading-font: 'print_char_21medium', Georgia, serif;
$alt1-font: 'Erased Typewriter W00', Courier, monospace;
$alt2-font: 'Decima Mono W01', Courier, monospace;
$alt3-font: Courier, monospace;

$text-color: black;

//Mozilla Brand Colors.
$mozilla-blue: #82d1f5;
$mozilla-coral: #ff8c8e;
$mozilla-yellow: #ffed00;
$mozilla-lilac: #b0b2e9;
$mozilla-orange: #faba00;
$mozilla-lime: #b6d806;
$mozilla-neon-blue: #0ff; // This is actually cyan
$mozilla-neon-blue-light: lighten($mozilla-neon-blue, 35%); // I made this up
$mozilla-neon-pink: #fa8cff;
$mozilla-neon-green: #abff10;

body {
  font-family: $base-font;
  color: $text-color;
  background: #eff;
  margin: 0;
  hyphens: manual;
}
main {
  width: 80%;
  margin: 1rem auto;
}
h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}
h1 {
  font-size: 1.6rem;
  padding: 1rem 1rem 0.75rem 4rem;
  background: #98ffd7;
  border-radius: 50%;
  text-align: center;
  padding: 5rem 1.0rem 4rem;
  line-height: 1.2;
  max-width: 300px;
}
h4 {
  font-size: 1rem;
  margin: 0.6em 0 0.4em 0;
}
nav {
  padding: 1.6rem 2rem 1.5rem;
  clip-path: polygon(0% 0%, 100% 14%, 100% 100%, 2rem 75%);
  background: #d6ff0a;
  margin: 2rem 0;
  margin-right: -1rem;
  a {
    border-bottom: none;
    color: black;
  }
}
p {
  font-size: 0.6rem;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  border-bottom: 2px dotted black;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.demo-list {
  margin-top: 2rem;
  li {
    max-width: 200px;
    margin: 1rem 0;
    padding: 4px;
  }
  img {
    border: 4px solid black;
    background: white;
    background: linear-gradient(to bottom, white 0px, white 16px, black 16px, black 32px);
    padding-top: 20px;
  }
  a {
    border-bottom: none;
    color: $text-color;
    display: block;
  }
  p {
    margin: 0;
  }
  p a {
    background: $mozilla-yellow;  
    display: inline;  
  }
}
header {  
  margin: 0 1rem;
}
@media (min-width: 880px) {
  header {  
    width: 50%;
    float: left;
    margin: 0 2rem 0 1rem;
  }
}
@media (min-width: 880px) {
  header { 
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    width: -webkit-min-content;
       width: -moz-min-content;
           width: min-content;
    background: none;
    text-align: right;
    margin-left: 0;
    padding: 0 0.8rem 0 1.2rem;
    z-index: 2;
    align-self: start;
  }
  .intro { /* autoprefixer: off */
    width: 50%;
  }
}

@supports (display: grid) {
  @media (min-width: 880px) {
    main { /* autoprefixer: off */
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
    .intro {
      width: 50%;
    }
  }
  @media (min-width: 440px) {
    .demo-list { /* autoprefixer: off */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      grid-gap: 2rem;
      align-items: end;
      span:nth-child(1) { /* autoprefixer: off */
        grid-column: -2;
        grid-row: 1;
      }
      span:nth-child(2) { /* autoprefixer: off */
        grid-column: 1;
        grid-row: 2;
      }
      span:nth-child(3) { /* autoprefixer: off */
        grid-column: -3;
        grid-row: 3;
      }
      span:nth-child(4) { /* autoprefixer: off */
        grid-column: -2;
        grid-row: 3;
      }
      span:nth-child(5) { /* autoprefixer: off */
        grid-column: 1;
        grid-row: 4;
      }
      span:nth-child(6) { /* autoprefixer: off */
        grid-column: -2;
        grid-row: 4;
      }
      li {
        max-width: none;
      }
      a + p {
        margin-top: 0.75rem;
      }
    } 
  }
}
