* {
  box-sizing: border-box; }

img {
  width: 100%; }

.set1-part1 {
  background: #112233;
  font-family: Helvetica; }
  .set1-part1 main {
    width: 940px;
    margin: 2em auto;
    background: white; }
  .set1-part1 div {
    background: #FFE5E5;
    color: #333;
    text-align: center;
    padding: 2em 0;
    border: 1px solid #333; }

.grid-1A main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
      grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-gap: 20px; }

.grid-1B main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[12];
      grid-template-columns: repeat(12, 60px);
  grid-gap: 20px; }

.grid-1C main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[12];
      grid-template-columns: repeat(12, 60px);
  grid-gap: 20px; }

.set1-part2 {
  background: #ccc;
  font-family: Helvetica; }
  .set1-part2 main {
    width: 90%;
    margin: 2em auto;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4); }
  .set1-part2 div {
    background: #F8F5EA;
    color: #333;
    text-align: center;
    padding: 2em 0;
    border: 1px solid #E9DFBA; }

.grid-1D main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (7.4166666667%)[12];
      grid-template-columns: repeat(12, 7.4166666667%);
  grid-gap: 1%; }

.grid-1E main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5em; }

.grid-1F main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  grid-gap: 1.5em; }
.grid-1F div:nth-child(4) {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7; }

.grid-1G main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  grid-gap: 1.5em; }
.grid-1G div:nth-child(4) {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 9; }
.grid-1G div:nth-child(7) {
  grid-column: 3 / 4; }
.grid-1G div:nth-child(8) {
  grid-column: 10 / 12; }
.grid-1G div:nth-child(14) {
  grid-column: 6 / 7; }
.grid-1G div:nth-child(25) {
  grid-column: 6 / 9; }
.grid-1G div:nth-child(26) {
  grid-column: 6 / 9; }
.grid-1G div:nth-child(27) {
  grid-column: 6 / 9; }

.grid-1H main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 2fr)[5];
      grid-template-columns: repeat(5, 1fr 2fr);
  grid-gap: 2em 0.5em; }
.grid-1H div:nth-child(4) {
  grid-column: 6 / 9; }
.grid-1H div:nth-child(7) {
  grid-column: 3 / 4; }
.grid-1H div:nth-child(8) {
  grid-column: 4 / 7; }
.grid-1H div:nth-child(14) {
  grid-column: 6 / 7; }
.grid-1H div:nth-child(25) {
  grid-column: 6 / 9; }
.grid-1H div:nth-child(26) {
  grid-column: 6 / 9; }
.grid-1H div:nth-child(27) {
  grid-column: 6 / 9; }

.grid-1I main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 2fr)[5];
      grid-template-columns: repeat(5, 1fr 2fr);
  -ms-grid-rows: (1fr 2fr)[6];
      grid-template-rows: repeat(6, 1fr 2fr);
  grid-gap: 1.5em; }
.grid-1I div:nth-child(4) {
  -ms-grid-column-span: 4;
  -ms-grid-column: 6;
      grid-column: 6 / span 4;
  -ms-grid-row-span: 1;
  -ms-grid-row: 2;
      grid-row: 2 / span 1; }
.grid-1I div:nth-child(7) {
  grid-column: 3 / 4;
  -ms-grid-row-span: 3;
  -ms-grid-row: 3;
      grid-row: 3 / span 3; }
.grid-1I div:nth-child(8) {
  -ms-grid-column-span: 5;
  -ms-grid-column: 4;
      grid-column: 4 / span 5; }
.grid-1I div:nth-child(13) {
  -ms-grid-column: 7;
      grid-column: 7; }
.grid-1I div:nth-child(14) {
  -ms-grid-column-span: 2;
  -ms-grid-column: 6;
      grid-column: 6 / span 2; }
.grid-1I div:nth-child(25) {
  -ms-grid-column: span 3 / 9;
      grid-column: span 3 / 9; }
.grid-1I div:nth-child(26) {
  -ms-grid-column-span: 1;
  -ms-grid-column: 6;
      grid-column: 6 / span 1;
  -ms-grid-row: span 3;
      grid-row: span 3; }
.grid-1I div:nth-child(27) {
  -ms-grid-column-span: 3;
  -ms-grid-column: 6;
      grid-column: 6 / span 3; }

.grid-1J main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr 3fr 5fr 8fr 13fr 21fr 34fr;
      grid-template-columns: 1fr 1fr 2fr 3fr 5fr 8fr 13fr 21fr 34fr;
  -ms-grid-rows: 1fr 1fr 2fr 3fr 5fr 8fr 13fr 21fr 34fr 55fr;
      grid-template-rows: 1fr 1fr 2fr 3fr 5fr 8fr 13fr 21fr 34fr 55fr;
  grid-gap: 1.5em; }
