* {
  box-sizing: border-box; }

html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 100%;
  background: #f6f3ea;
  color: rgba(12, 12, 10, 0.8);
  line-height: 1.3;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

img {
  width: 100%; }

body {
  width: 90%;
  max-width: 600px;
  margin: 2em auto 3em; }

/* --------------------------------------------------------*/
a {
  color: #f71309;
  text-decoration: none; }

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase; }

h1 {
  margin-bottom: 1rem; }

ul {
  margin: 1rem 0; }

section {
  padding: 1rem 0;
  margin: 0;
  border-top: 1rem solid #f9423a; }
