* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 100%;
  color: rgba(12, 12, 10, 0.8);
  line-height: 1.3;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

main {
  width: 80%;
  max-width: 800px;
  margin: 1em auto; }

h1 {
  color: #f9423a;
  margin: 0;
  font-size: 3.2rem;
  line-height: 1.0em; }

.example2B main {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em; }
.example2B h1:nth-child(1) {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  grid-column: 1 / 2; }
.example2B h1:nth-child(2) {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  grid-column: 3 / 4; }
.example2B h1 {
  margin-bottom: 1rem; }
.example2B p {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.example2C main {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem; }
.example2C h1:nth-child(1) {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  grid-column: 1 / 2;
  color: #aaa; }
.example2C h1:nth-child(2) {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  grid-column: 2 / 3; }
.example2C h1:nth-child(3) {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  grid-column: 4 / 5; }
.example2C h1 {
  margin-bottom: 1rem; }
.example2C p {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.example2D main {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem; }
.example2D h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  grid-column: 1 / 2;
  margin: 0 1rem 1rem 0; }
.example2D p {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin: 0; }

.example2E main {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem; }
.example2E h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  grid-column: 1 / 2;
  margin: 0 1rem 1rem 0;
  text-align: right; }
.example2E p {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin: 0; }
