html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px;
}

// Header --------------------------------------------------

header {
  background: #2E1811;
  background-image: url('../images/dirt.jpg');
  background-size: cover;
  padding: 2rem 0;
  color: #fff;
  text-shadow: 0px 1px 6px rgba(0,0,0,0.6);
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  width: 80%;
  margin: 0 auto;
  line-height: 1.1em;
  font-size: 2rem;
  @media (min-width: 500px) {
    font-size: 4rem;
  }
}


// Publication Details -------------------------------------

.publication-details {
  border-top: 1px solid rgba(0,0,0,0.7);
  border-bottom: 1px solid rgba(0,0,0,0.7);
  padding: 0.5em 0 0.3333em;
  margin-bottom: 2em;
  text-align: center;
}
.author,
.publication,
.pubdate {
  padding: 0.1em 0.25em;
  margin: 0.25em 0;
}
.author::after,
.publication::after {
  content: " ⋄ ";
  opacity: 0.7;
  margin-left: 0.5em;
}
cite {
  font-style: italic;
}

// Article body --------------------------------------------

.article-body {
  width: 80%;
  margin: 2rem auto;
  p {
    line-height: 1.6em;
    text-indent: 1em;
  }
  a {
    color: green;
  }
}
.pullquote {
  margin: 1em 0;
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif; 
  font-size: 2rem;
  @media (min-width: 500px) {
    font-size: 3rem;
  }
}
footer {
  padding: 0.8em 1em;
  background: #e1f3cc;
  font-style: italic;
}
