$color: #4b87bc;

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 17px;
  line-height: 1.5em;
}

htm, body {
  margin: 0;
  padding: 0;
}


//--------------------------------------------------
// Header 
//--------------------------------------------------

header {
  background: rgba(216, 223, 225, 0.8);
  margin: 0;
  color: rgba(0,0,0,0.6);
  text-align: center;
}
img {
  height: 85vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
div.headlines {
  padding-bottom: 1.6rem;
}
h1 {
  font-size: 10vw;
  color: darken($color, 12%);
}
h2 {
  margin: 1.4em 0 0.8em;
  color: darken($color, 20%);
}
h4, h6 {
  font-weight: normal;  
}
h4 {
  margin: 1.6em 0;
  font-size: 3.5vw;
}
h6 {
  margin: 0;
  font-size: 2.5vw;
  font-style: italic;
}

@media (min-width: 600px) {
  header {
    height: 100vh;
  }
  img {
    float: left;
    height: 100vh;
    width: 50vw;
  }
  div.headlines {
    float: right;
    width: 50vw;
    height: 100vh;
    padding: 2vh 3vw;
    display: flex;  
    div {
      margin: auto;
    }
  }  
  h1 {
    margin-top: 0;
    font-size: 5vw;
  }
  h4 {
    margin: 1.8em 0 6em;
    font-size: 1.8vw;
  }
  h6 {
    margin: 0.5em 0;
    font-size: 1.3vw;
    font-style: italic;
  }
}

//--------------------------------------------------
// Article Text 
//--------------------------------------------------

section {
  clear: both;
  padding: 2em 8vw 4em 17vw;
  columns: 300px;
  column-gap: 4em;
  background-color: #fff;
}
@media (min-width: 600px) {
  section {
    padding-top: 5em;
  }
}
section { 
  p:first-child {
    margin-top: 0;
  }
  @supports (initial-letter: 4 ) or
    (-webkit-initial-letter: 4 ) {
    p:first-child::first-letter {
      color: $color;
      font-weight: bold;
      margin-right: 0.5em;
      -webkit-initial-letter: 5;
      initial-letter: 5;
    }
  }
  @supports (initial-letter: 2 ) or
    (-webkit-initial-letter: 2 ) {
    h2>p::first-letter {
      color: $color;
      font-weight: bold;
      margin-right: 0.5em;
      -webkit-initial-letter: 2;
      initial-letter: 2;
    }
  }
}

.pullquote {
  margin: 2.4rem 0 2.4rem;
  color: $color;
  font-weight: bold;   
  font-size: 2em; 
  line-height: 1.2em;
}

footer {
  text-align: center;
}