* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}
body {
  color: #888;
  font-family: Helvetica;
}
img {
  width: 100%;
}
h1 { 
  margin: 7vw 10vw 0;
  font-size: 3vw;
}
p {
  font-size: 80%;
  margin: 0 5vw 0 0;
  text-align: right;
}
ul {
  width: 75vw;
  margin: 0 auto;
  list-style: none;
  display: grid;
//  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); 
  grid-template-columns: repeat(auto-fill, 50px); 
  grid-auto-rows: 80px;
}
li {
  width: 200px; 
  height: 160px;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  grid-area: span 2 / span 4;
}






// Style a Warning Message. Remove if Grid works ---------------------------------------

.warning {
  color: red;
  font-size: 200%; 
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}