// Code for Header Styling & List Resets--------------------------------------

html {
  font-size: 18px;
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em;
}
ul {
  padding: 0;
  margin: 10px 0;
}
li {
  list-style-type: none;
}

// Code for the Layout ---------------------------------------

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}
li {
  margin: 10px;
  flex: 1 0 auto;
}
img {
  width: 100%; // breaks layout in Safari and Chrome. Using width: auto works better in those browsers, but fails to stretch the images to the available space. 
  height: 160px;
  height: 20vh;
  display: block;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}
