// Code for the Styling --------------------------------------

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px;
}
body {
  background: black;
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em;
}
ul {
  padding: 0;
  background: white;
}
li {
  list-style-type:none;
}

// Code for the Layout ---------------------------------------

ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(1fr,max-content));
  grid-template-rows: repeat(5,minmax(1fr,max-content));
  //grid-auto-rows: minmax(1fr,max-content);  
  grid-auto-flow: dense;
}
li {
//  height: 100%;
  margin: 10px;
  border: 1px solid black;
}
li.highlight {
//  grid-row: span 2;
  grid-column: span 2;
}
img {
  display: block;
  object-fit: cover;
  max-height: 33vh;
  max-width: 60vw;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
//  height: 100%;
}



// Style a Warning Message. Remove if Grid works ---------------------------------------

.warning {
  color: red;
  font-size: 200%; 
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}

