// Code for Header Styling & List Resets--------------------------------------

html {
  font-size: 18px;
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

// Code for the Layout ---------------------------------------

header {
  float: left;
  width: 200px;
}
ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 98vh;
  margin: 0;
}
li {
  flex-grow: 1;
  margin: 10px;
}
img {
  width: 200px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}
