
html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
}
ol { /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));  
  grid-auto-rows: 200px;  
  grid-gap: 1em;
  margin: 1em;
}
li {
  position: relative;  
  background: #a8abad;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3949a4;
  list-style-position: inside;
  padding: 5px;
}
span {
  position: absolute;
  bottom: 3px;
  right: 10px;
  color: #fff;
}
