// Code for the Styling --------------------------------------

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px;
}
body {
  background: black;
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  font-size: 3rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em;
}
ul {
  padding: 0;
  background: white;
}
li {
  list-style-type:none;
}

// Code for the Layout ---------------------------------------

ul {
  display: grid;
//  grid-template-columns: 3fr 2fr 3fr 5fr 8fr 3fr 2fr;  
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 15vw;  
  grid-auto-flow: dense;
}
li {
  height: 100%;
  border: 1px solid black;
}
li.highlight {
  grid-row: span 2;
  grid-column: span 2;
}
img {
  display: block;
  object-fit: cover;
  height: 100%;
}



/// WHAT's NEW??

// grid
// object-fit
// viewport units


// Style a Warning Message. Remove if Grid works ---------------------------------------

.warning {
  color: red;
  font-size: 200%; 
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}

