// We need to clearfix our float, so here's a Sass mixin. If you don't get Sass, just look at the CSS file and see what the CSS is post-Sass.

@mixin clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// Code for the Styling --------------------------------------

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 18px;
}
h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;  
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.5em 0.5em;
  background: #2c2c2c;
  line-height: 1.1em;
}
ul {
  padding: 0;
  @include clearfix;
}
li {
  list-style-type:none;
}

// Code for the Layout ---------------------------------------

ul {

}
li {
  float: left;
  border: 1px solid black;
}
img {
  display: block;
  height: 100%;
  object-fit: cover;
}

li {
  width: 48%;
  height: 48vw;
  margin: 1%;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}
@media (min-width: 500px) {
  li {
    width: 31.33%;
    height: 31.33vw;
  }
}
@media (min-width: 700px) {
  li {
    width: 23%;
    height: 23vw;
  }
}
@media (min-width: 900px) {
  li {
    width: 18%;
    height: 18vw;
  }
}
@media (min-width: 1100px) {
  li {
    width: 14.66%;
    height: 14.66vw;
  }
}

