html {
  background: white; 
}
main {
  width: 95%;
  margin: 20px auto;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul { /* autoprefixer: off */
  display: grid;
  background: #1C1B1B;
  grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 0.5fr;
  grid-template-rows: 11vw repeat(5, 13vw) 11vw 6.5vw 6.5vw;
  grid-auto-flow: dense; 
}
ul {
  clip-path: polygon(10px 8px, calc(100% - 8px) 8px, calc(100% - 8px) calc(100% - 8px), 10px calc(100% - 8px));
}
li {
  height: 100%;
  border: 8px solid black;
}
li:nth-child(1) {
  grid-column: span 2;
}
li:nth-child(2) {
  grid-column: span 3;
}
li:nth-child(3) {
  grid-column: span 2;
}
li:nth-child(4) {
  grid-row: span 6;
}
li:nth-child(5) {
  grid-row: span 2;
}
li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4;
}
li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(8) {
  grid-row: span 3;
}
li:nth-child(9) {
  grid-row: span 2;
}
li:nth-child(10) {
  grid-row: span 2;
}
li:nth-child(11) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(12) {
  grid-column: span 2;
}
li:nth-child(13) {
  grid-column: span 2;
}
li:nth-child(14) {
  grid-row: span 3;
}
li:nth-child(15) {
  grid-column: span 2;
}
li:nth-child(16) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(17) {
  grid-row: span 3;
}
li:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
}
li:nth-child(19) {
  grid-column: span 2;
}
li:nth-child(20) {
  grid-column: span 4;
}



// Style a Warning Message. Remove if Grid works ---------------------------------------

.warning {
  color: red;
  font-size: 200%; 
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}

