body {
  display: flex;
  height: 100vh;
}
main {
  width: 80%;
  font-family: 'Cormorant Infant', serif;
  margin: auto;
}
h1 {
  writing-mode: vertical-rl;
  font-size: 7.8vw;
  float: right;
  margin: 0;
}
img {
  display: block;  
  width: 85%;
}