* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #888;
  font-family: Helvetica; }

img {
  width: 100%; }

h1 {
  margin: 7vw 10vw 0;
  font-size: 3vw; }

p {
  font-size: 80%;
  clear: both;
  margin: 0 5vw 0 0;
  text-align: right; }

ul {
  width: 75vw;
  margin: 0 auto;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [odd-start] 5vw [even-end] 5vw [odd-mid] 5vw [even-start] 5vw [odd-end] 5vw [even-mid];
      grid-template-columns: [odd-start] 5vw [even-end] 5vw [odd-mid] 5vw [even-start] 5vw [odd-end] 5vw [even-mid];
  -ms-grid-rows: [even-start end-end] 9vw [odd-start odd-end] 9vw [even-start end-end] ;
      grid-template-rows: [even-start end-end] 9vw [odd-start odd-end] 9vw [even-start end-end] ; }

li {
  width: 20vw;
  height: 18vw;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  grid-area: span 2 / span 4; }

li:nth-child(2n+1) {
  grid-column: odd-start / odd-end;
  grid-row: odd-start / odd-end; }

li:nth-child(2n) {
  grid-column: even-start / even-end;
  grid-row: even-start / even-end; }

.warning {
  color: red;
  font-size: 200%; }

@supports ((display: -ms-grid) or (display: grid)) {
  .warning {
    display: none; } }
