* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #888;
  font-family: Helvetica; }

img {
  width: 100%; }

h1 {
  margin: 7vw 10vw 0;
  font-size: 3vw; }

p {
  font-size: 80%;
  clear: both;
  margin: 0 5vw 0 0;
  text-align: right; }

ul {
  width: 75vw;
  margin: -5vw auto 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5vw)[16];
      grid-template-columns: repeat(16, 5vw);
  -ms-grid-rows: (9vw)[9];
      grid-template-rows: repeat(9, 9vw); }

li {
  width: 20vw;
  height: 18vw;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  grid-area: span 2 / span 4; }

li:nth-child(2n+1) {
  margin-top: 9vw; }

li:nth-child(2n) {
  margin-left: -5vw; }

li:nth-child(4n+3) {
  margin-left: -10vw; }

li:nth-child(4n+4) {
  margin-left: -15vw; }

.warning {
  color: red;
  font-size: 200%; }

@supports ((display: -ms-grid) or (display: grid)) {
  .warning {
    display: none; } }
