* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: #888;
  font-family: Helvetica; }

img {
  width: 100%; }

h1 {
  margin: 7vw 10vw 0;
  font-size: 3vw; }

p {
  font-size: 80%;
  clear: both;
  margin: 0 5vw 0 0;
  text-align: right; }

ul {
  width: 75vw;
  margin: -5vw auto 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5vw)[16];
      grid-template-columns: repeat(16, 5vw);
  -ms-grid-rows: (9vw)[9];
      grid-template-rows: repeat(9, 9vw); }

li {
  width: 20vw;
  height: 18vw;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  grid-area: span 2 / span 4; }

li:nth-child(1) {
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-column: 1;
      grid-column: 1; }

li:nth-child(2) {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column: 4;
      grid-column: 4; }

li:nth-child(3) {
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-column: 7;
      grid-column: 7; }

li:nth-child(4) {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column: 10;
      grid-column: 10; }

li:nth-child(5) {
  -ms-grid-row: 4;
      grid-row: 4;
  -ms-grid-column: 1;
      grid-column: 1; }

li:nth-child(6) {
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column: 4;
      grid-column: 4; }

li:nth-child(7) {
  -ms-grid-row: 4;
      grid-row: 4;
  -ms-grid-column: 7;
      grid-column: 7; }

li:nth-child(8) {
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column: 10;
      grid-column: 10; }

li:nth-child(9) {
  -ms-grid-row: 6;
      grid-row: 6;
  -ms-grid-column: 1;
      grid-column: 1; }

li:nth-child(10) {
  -ms-grid-row: 5;
      grid-row: 5;
  -ms-grid-column: 4;
      grid-column: 4; }

li:nth-child(11) {
  -ms-grid-row: 6;
      grid-row: 6;
  -ms-grid-column: 7;
      grid-column: 7; }

li:nth-child(12) {
  -ms-grid-row: 5;
      grid-row: 5;
  -ms-grid-column: 10;
      grid-column: 10; }

li:nth-child(13) {
  -ms-grid-row: 8;
      grid-row: 8;
  -ms-grid-column: 1;
      grid-column: 1; }

li:nth-child(14) {
  -ms-grid-row: 7;
      grid-row: 7;
  -ms-grid-column: 4;
      grid-column: 4; }

li:nth-child(15) {
  -ms-grid-row: 8;
      grid-row: 8;
  -ms-grid-column: 7;
      grid-column: 7; }

li:nth-child(16) {
  -ms-grid-row: 7;
      grid-row: 7;
  -ms-grid-column: 10;
      grid-column: 10; }
