* {
  box-sizing: border-box; }

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

htm, body {
  margin: 0;
  padding: 0; }

main {
  margin: 4em 2em; }

figure {
  display: block;
  margin-bottom: 100px;
  clear: both; }

figcation {
  float: right;
  width: 40%; }

.fixed {
  width: 300px; }

.fluid {
  width: 50%; }

.fitted {
  width: 50%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover; }
