html {
  font-size: 18px; }

h1 {
  font-family: 'BauerBodoniW01-BoldDisp', georgia, serif;
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 0.75em 0.25em;
  background: #2c2c2c;
  line-height: 1.1em; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

header {
  float: left;
  width: 200px; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 98vh;
  margin: 0; }

li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px; }

img {
  width: 200px;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); }
