html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 21px; }

a {
  color: #e75e18; }

article p {
  line-height: 2em;
  width: 64vw;
  margin: 12vw 24vw 12vw 12vw;
  padding-bottom: 6vw;
  margin-bottom: 6vw; }

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  article.one p::first-letter {
    color: #FE742F;
    font-weight: bold;
    margin-right: 0.5em;
    -webkit-initial-letter: 4;
    initial-letter: 4; } }

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  article.two p::first-letter {
    color: #ae4ea5;
    font-family: 'Le Havre Hand W01 Crosshatch', 'Avenir';
    font-weight: bold;
    margin-right: 0.5em;
    margin-left: -2em;
    -webkit-initial-letter: 4 1;
    initial-letter: 4 1; }
  article.two p {
    margin-left: 10em; } }

.warning {
  color: red;
  font-size: 200%; }

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  .warning {
    display: none; } }
footer {
  border-top: 1px solid grey;
  padding-top: 2em;
  margin-top: 2em;
  font-size: 65%;
  color: gray;
  line-height: 1.4em;
  width: 64vw;
  margin: 12vw 24vw 12vw 12vw;
  padding-bottom: 6vw;
  margin-bottom: 6vw; }
