html {
  background: white; }

main {
  width: 70%;
  margin: 10vw auto; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  display: grid;
  background: #1C1B1B;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 60px;
  grid-auto-flow: dense; }

ul {
  -webkit-clip-path: polygon(10px 6px, calc(100% - 7px) 6px, calc(100% - 7px) calc(100% - 6px), 10px calc(100% - 6px));
  clip-path: polygon(10px 6px, calc(100% - 7px) 6px, calc(100% - 7px) calc(100% - 6px), 10px calc(100% - 6px)); }

li {
  height: 100%;
  border: 6px solid black; }

li:nth-child(1) {
  grid-column: span 2; }

li:nth-child(2) {
  grid-column: span 3; }

li:nth-child(3) {
  grid-column: span 2; }

li:nth-child(4) {
  grid-row: span 6; }

li:nth-child(5) {
  grid-row: span 2; }

li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4; }

li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2; }

li:nth-child(8) {
  grid-row: span 3; }

li:nth-child(9) {
  grid-row: span 2; }

li:nth-child(10) {
  grid-row: span 2; }

li:nth-child(11) {
  grid-row: span 2;
  grid-column: span 2; }

li:nth-child(12) {
  grid-column: span 2; }

li:nth-child(13) {
  grid-column: span 2; }

li:nth-child(14) {
  grid-row: span 3; }

li:nth-child(15) {
  grid-column: span 2; }

li:nth-child(16) {
  grid-row: span 2;
  grid-column: span 2; }

li:nth-child(17) {
  grid-row: span 3; }

li:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2; }

li:nth-child(19) {
  grid-column: span 2; }

li:nth-child(20) {
  grid-column: span 4; }

.warning {
  color: red;
  font-size: 200%; }

@supports (display: grid) {
  .warning {
    display: none; } }
