body {
  background: #fff; }

main {
  background: url("../images/NOM-background.jpg");
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 1fr 10vh;
      grid-template-rows: 10vh 1fr 10vh; }

header {
  grid-column: 4 / 9;
  grid-row: 2 / 3; }
  header h1 {
    text-transform: uppercase; }
  header h2 {
    text-transform: uppercase; }

aside {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  display: subgrid;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 1fr 10vh;
      grid-template-rows: 10vh 1fr 10vh;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center; }
  aside h6 {
    grid-column: 1 / 2;
    margin: 0;
    font-size: 2em;
    text-transform: uppercase; }
  aside .spine-note {
    grid-column: 1 / 2;
    border-top: 5px solid black;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-align-self: end;
        -ms-flex-item-align: end;
            align-self: end; }

footer {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-size: 0.8em;
  line-height: 0.1em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-right: 1em;
  max-height: 90vh; }
  footer ul {
    text-transform: uppercase;
    padding-left: 0.4em;
    line-height: 1.3em; }
  footer li {
    display: inline-block; }
  footer li::after {
    content: ' /'; }
  footer li:last-child::after {
    content: none; }
  footer div {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-right: 1px; }
  footer div p:last-child {
    text-transform: none; }
