body {
  height: 100vh;
  overflow-x: auto;
  -webkit-scroll-snap-type: proximity;
      -ms-scroll-snap-type: proximity;
          scroll-snap-type: proximity;
  -webkit-scroll-snap-points-y: repeat(100vh);
      -ms-scroll-snap-points-y: repeat(100vh);
          scroll-snap-points-y: repeat(100vh);
  -webkit-scroll-snap-destination: 0 0;
      -ms-scroll-snap-destination: 0 0;
          scroll-snap-destination: 0 0; }

.region {
  height: 80vh;
  margin: 5.75vh 0 15vh; }
