:root {
	--primary: color(display-p3 0.319 0.008 0.549);
}


html {
	font-family: Avenir;
	line-height: 1.2;
	font-weight: 400;
	background-color: var(--primary);
}
article {
	margin: 2rem;
	padding: 1.2rem;
	background: white;
	max-width: 250px;
	border-radius: 0.2rem;
}
h1 {
	font-family: 'Roslindale', Georgia;
	font-size: 1.5rem;
	margin: 0 0 0.25em;
	color: var(--primary);
}
p {
	font-size: 0.75rem;
	margin: 0;
}
