* {
  box-sizing: border-box; 
}
body {
	margin: 0;
}
@font-face {
  font-family: 'Roslindale';
  src: url('/fonts/Roslindale/RoslindaleVariableDisplay-VF.woff2') format('woff2');
}
@font-face {
	font-family: 'Portada';
  src: url('/fonts/typetogether/Portada_variable_DEMO/Portada_Variable-Upright-DEMO.woff2') format('woff2');
}
html {
  font-family: 'Portada', Helvetica;
  font-size: 100%;
	line-height: 1.85;
	font-variation-settings: 'opsz' 36;
}
h1, h2, h3, h4 {
	line-height: 1.1;
  font-family: 'Roslindale', Georgia;
}
h1 {
	font-size: 4rem;
	font-weight: 375;
	margin-bottom: 1rem;
}
article {
	display: grid;
	grid-template-columns: 1fr minmax(400px, 650px) 1fr;
	margin-bottom: 5rem;
}
h1, p {
	grid-column: 2 / 3;
}
p {
	margin: 1.5rem 0 0;
	font-size: 110%;
}
p.intro {
	font-size: 165%;
	line-height: 1.4;
	font-weight: 140;
	background: white;
}
p.beginning:first-line {
	font-feature-settings: "smcp" on;
	text-transform: uppercase;
	font-size: 98%;
}
img {
	grid-column: 2 / 3;
	width: 100%;
	margin: 1rem 0;
}
img.intro {
	grid-column: 1 / 4;
}