/*  Remedy
------------------------------------------------------------- */
* { box-sizing: border-box; background-repeat: no-repeat; }
body { margin: 0; }

/*  Version 0 — No CSS
------------------------------------------------------------- */


/*  Version 1 — Typography (so our eyes don't bleed)
------------------------------------------------------------- */
html {
	font-family: Avenir, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
header {
	padding: 2rem;
}
.logo img {
	width: 100px;
}
header {
	background: #84e5ff;
	border-bottom: 6px solid grey;
}
.logo img {
	width: 50px;
}

/*  Some other stuff on the page
------------------------------------------------------------- */

article {
	background: #e7e7e7;
	min-width: 200px;
	max-width: 900px;
	margin: 2rem auto;
	height: 500px;
}

/*  Version 2 — a la 2007
------------------------------------------------------------- */
/*

.logo {
	float: left;
	margin-right: 2em;
}
h1 {
	width: 80%;
	float: left;
}
nav {
	float: right;
}
*/

/*  Version 2 — like it's 2007, but coded in 2018
------------------------------------------------------------- */
header {
	display: grid;
	gap: 2rem;
	align-items: center;
	border-bottom: none;

	grid-template-columns: 1fr 1fr 1fr; /* this? */
	grid-template-columns: max-content 1fr 1fr; /* this? */
	grid-template-columns: max-content auto max-content;
	
}
h1, ul {
	margin: 0;
}
nav {
	text-align: right;
}


/*  Add a navbar layout
------------------------------------------------------------- */
ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
}
header {
	grid-template-columns: max-content auto 1fr; /* nope */
	grid-template-columns: max-content auto auto; /* nope */
	grid-template-columns: max-content auto min-content; /* nope */
	grid-template-columns: max-content auto minmax(100px, max-content);

}

/*  next version
------------------------------------------------------------- */

header {
	grid-template-rows: auto auto;
	grid-template-columns: min-content auto;
	gap: 0 2rem;
}
.logo {
	grid-row: span 2;
	align-self: start;
}
h1 {
	align-self: start;
}
nav {
	align-self: end;
}


/*  Let's do something more interesting
------------------------------------------------------------- 
header {
	background: none;
}
nav {
	text-align: left;
	transform: rotate(-90deg);
}
ul {
	display: block;
}
li {
}

*/

