/*  Version A — No CSS
------------------------------------------------------------- */
/* no CSS file is loaded */

/*  Version B — Basic styles (so our eyes don't bleed)
------------------------------------------------------------- */
* { box-sizing: border-box; }
body { margin: 0; }

html {
	font-family: Avenir, Helvetica, sans-serif;
	background: #0d52bb; /* dark blue */
}
a {
	text-decoration: none;
	color: black;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
header {
	padding: 2rem;
}
.logo img {
	width: 50px;
}
header {
	background: white;
}
article {
	background: #bbb; /* medium grey */
	min-width: 200px;
	max-width: 900px;
	margin: 2rem auto;
	height: 500px;
}

/*  Version C — a la 2007
------------------------------------------------------------- */

.C header {
	border-bottom: 6px solid grey;
}
.C .logo {
	float: left;
	margin-right: 2em;
}
.C h1 {
	width: 80%;
	float: left;
}
.C nav {
	float: right;
}

/*  Version D — like it's 2007, but coded in 2018
------------------------------------------------------------- */
.D header {
	display: grid;
	gap: 2rem;
	align-items: center;

	grid-template-columns: 1fr 1fr 1fr; /* this? */
	grid-template-columns: max-content 1fr 1fr; /* this? */
	grid-template-columns: max-content auto max-content;
	
}
.D h1, 
.D ul {
	margin: 0;
}
.D nav {
	text-align: right;
}


/*  Version E — Add a navbar layout
------------------------------------------------------------- */
.E ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
}
.E header {
	display: grid;
	gap: 2rem;
	align-items: center;

	grid-template-columns: max-content auto 1fr; /* nope */
	grid-template-columns: max-content auto auto; /* nope */
	grid-template-columns: max-content auto min-content; /* nope */
	grid-template-columns: max-content auto minmax(100px, max-content);

}

/*  Version F — next version
------------------------------------------------------------- */

.F header {
	display: grid;
	gap: 2rem;
	align-items: center;

	grid-template-rows: auto auto;
	grid-template-columns: min-content auto;
	gap: 0 2rem;
}
.F .logo {
	grid-row: span 2;
	align-self: start;
}
.F h1 {
	align-self: start;
}
.F nav {
	align-self: end;
}


/*  Version G — Let's do something more interesting
------------------------------------------------------------- */
.G header {
	background: none;
}
.G nav {
	text-align: left;
	transform: rotate(-90deg);
}
.G ul {
	display: block;
}
.G li {
}
