* { box-sizing: border-box; }
body { margin: 0;}

html { 
	font-family: Avenir;
}
body {
	margin-top: calc(1rem + 3vw);
}
article {
	display: grid;
	grid-template-columns: minmax(1rem, 5rem) 1fr minmax(300px, 70ch) 2fr minmax(1rem, 10rem);
}
article section {
	grid-column: 3 / 4;
}
article section.transcript {
	grid-column: 4 / 5;
}
article header {
	grid-row: 2 / 3;
}
article header,
article .video,
article img {
	grid-column: 2 / 5;
}
article iframe,
article img {
	width: 100%;
}


.video {
	height: 0;
  overflow: hidden;
  padding-top: 56.25%; /* padding box hack — works for 16x9 video only */
  background: white;
  position: relative;
}
.video iframe {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


ul {
	padding-left: 1rem;
}