* {
  box-sizing: border-box;
}

html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-size-adjust: 100%;
}

htm, body {
  margin: 0;
  padding: 0;
}

main {
  margin: 4em 2em;
}

figure {
  display: block;
  margin-bottom: 100px;
  clear: both;
}
figcation {
  float: right;
  width: 40%;
}

.fixed {
  width: 300px;
}
.fluid {
  width: 50%;
}
.twodirections {
  width: 50%;
  height: 400px;
}
.fitted {
  width: 50%;
  height: 400px;
  object-fit: cover;
}


