html {
  background: white; 
}
main {
  width: 70%;
  margin: 10vw auto;
}
img {
  height: auto;
  width: auto;
  display: block;
  border: 6px solid black;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 1em 0;
}