html {
  background: white; 
}
main {
  width:80%;
  margin: 10vw auto;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {   
  display: grid;
  background: #1C1B1B;
  grid-auto-flow: dense; 
}

ul {
  grid-template-columns: repeat(1, calc(80vw/1));
  grid-template-rows: repeat(1, calc(80vw/1)); 
}
@media (min-width: 300px) {
  ul {
    grid-template-columns: repeat(2, calc(80vw/2));
    grid-template-rows: repeat(2, calc(80vw/2)); 
  }
}
@media (min-width: 400px) {
  ul {
    grid-template-columns: repeat(3, calc(80vw/3));
    grid-template-rows: repeat(3, calc(80vw/3)); 
  }
}
@media (min-width: 500px) {
  ul {
    grid-template-columns: repeat(4, calc(80vw/4));
    grid-template-rows: repeat(4, calc(80vw/4)); 
  }
}
@media (min-width: 600px) {
  ul {
    grid-template-columns: repeat(5, calc(80vw/5));
    grid-template-rows: repeat(5, calc(80vw/5)); 
  }
}
@media (min-width: 700px) {
  ul {
    grid-template-columns: repeat(6, calc(80vw/6));
    grid-template-rows: repeat(6, calc(80vw/6)); 
  }
}
@media (min-width: 800px) {
  ul {
    grid-template-columns: repeat(7, calc(80vw/7));
    grid-template-rows: repeat(7, calc(80vw/7)); 
  }
}
@media (min-width: 900px) {
  ul {
    grid-template-columns: repeat(8, calc(80vw/8));
    grid-template-rows: repeat(8, calc(80vw/8)); 
  }
}
@media (min-width: 1000px) {
  ul {
    grid-template-columns: repeat(9, calc(80vw/9));
    grid-template-rows: repeat(9, calc(80vw/9)); 
  }
}
@media (min-width: 1100px) {
  ul {
    grid-template-columns: repeat(10, calc(80vw/10));
    grid-template-rows: repeat(10, calc(80vw/10)); 
  }
}


ul {
  -webkit-clip-path: polygon(10px 6px, calc(100% - 7px) 6px, calc(100% - 7px) calc(100% - 6px), 10px calc(100% - 6px));
  clip-path: polygon(10px 6px, calc(100% - 7px) 6px, calc(100% - 7px) calc(100% - 6px), 10px calc(100% - 6px));
}
li {
  height: 100%;
  border: 6px solid black;
}
li:nth-child(1) {
  grid-column: span 2;
}
li:nth-child(2) {
  grid-column: span 3;
}
li:nth-child(3) {
  grid-column: span 2;
}
li:nth-child(4) {
  grid-row: span 6;
}
li:nth-child(5) {
  grid-row: span 2;
}
li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4;
}
li:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(8) {
  grid-row: span 3;
}
li:nth-child(9) {
  grid-row: span 2;
}
li:nth-child(10) {
  grid-row: span 2;
}
li:nth-child(11) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(12) {
  grid-column: span 2;
}
li:nth-child(13) {
  grid-column: span 2;
}
li:nth-child(14) {
  grid-row: span 3;
}
li:nth-child(15) {
  grid-column: span 2;
}
li:nth-child(16) {
  grid-row: span 2;
  grid-column: span 2;
}
li:nth-child(17) {
  grid-row: span 3;
}
li:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
}
li:nth-child(19) {
  grid-column: span 2;
}
li:nth-child(20) {
  grid-column: span 4;
}

// Style a Warning Message. Remove if Grid works ---------------------------------------
.warning {
  color: red;
  font-size: 200%; 
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}

