  * {
  box-sizing: border-box;
}
html {
  font: 16px/1em "fira_semibold", Verdana;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-size-adjust: 100%;
}
body {
  background: #ededed;
  color: #cf8317;
}
main {
 /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin: 0 auto;
}
section {
  margin: 0;
  position: relative;
}
img {
  display: block;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;  
  line-height: 1.1em;
}
p {
  font-size: .7em;
}
.hover {
	perspective: 600px;
}
.front {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  transform: (rotateY(0deg));
  transform-style: (preserve-3d);
  backface-visibility: hidden;
  transition: (all .4s ease-in-out);
}
.back {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  background: rgba(40, 40, 20, 0.7);
  box-shadow: (0 1px 5px rgba(0,0,0,0.9));
  color: #fff;
  transform: (rotateY(180deg));
  backface-visibility: hidden;  
  transition: (all .4s ease-in-out);
}
.flip .front {
  transform: (rotateY(180deg));
}
.flip .back {
  transform: (rotateY(0deg));
}


// Support Note
//-------------------------------------------------------------
.warning {
  margin-left: 1em;
  max-width: 600px;
  font-size: 80%;
}
@supports (display:grid) {
  .warning {
    display: none;
  }
}