body {
  background: #F0F0F0;
  font: 16px/1.5em Georgia, Times, serif;
  color: #333;
}
main {
 /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section {
  color: #eee;
  box-shadow: -1px 0px 0px rgba(0,0,0,0.08);
  display: flex;
  flex-flow: column;
  img {
    order: -1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  }
}
h1 {
  font-family: "fira_semibold", Verdana ;
  color: #cf8317;
  font-size: .67em;
  font-weight: 500;
  margin: .9em 0 1.25em 1em;  
  line-height: 1.1em;
}


// Support Note
//-------------------------------------------------------------
.warning {
  margin-left: 1em;
  max-width: 600px;
  font-size: 80%;
}
@supports (display:grid) {
  .warning {
    display: none;
  }
}
