@font-face {
  font-family: 'Roslindale Variable Display';
  src: url('/fonts/Roslindale/RoslindaleVariableDisplay-VF.woff2') format('woff2');
}

/* --- Typography --- */

body {
  margin: 3vw;
}
h1 {
	font-family: 'Roslindale Variable Display', Georgia, serif;
	font-size: 8rem;
	line-height: 1.2;
	margin: 0 0 3rem 0;
}

/* --- What We Know Works --- */

h1.zero {
	font-size: 20vw;
}

/* --- Attempt One --- */

@media (max-width: 500px) {
	h1.one { font-size: 5rem;}
}
@media (min-width: 1200px) {
	h1.one { font-size: 15rem;}
}
h1.one {
	background: yellow;
    -webkit-transition:all 1s ease;
         -moz-transition:all 1s ease;
               -o-transition:all 1s ease;
                     transition:all 1s ease;
}

/* --- Attempt Two --- */

h1.two {
	font-weight: 400;
	font-weight: calc(50vw);
	font-weight: calc(100/50vw);
	font-stretch: calc(50vw);
}

/* --- Attempt Three --- */

@font-face {
  font-family: 'Avenir Variable';
  src: url('/fonts/AvenirNext/AvenirNext_Variable.ttf') format('truetype');
}
h1.three {
	font-family: 'Avenir Variable', Avenir, Heveltica;
	font-weight: 400;
	font-stretch: 30%;
	font-stretch: calc(60vw*1%);
}

