* { box-sizing: border-box; }

@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-Ultralight-WebXL.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-Light-WebXL.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-Regular-WebXL.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-Medium-WebXL.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-Bold-WebXL.woff2") format("woff2");
	font-weight: 800;
}


@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-UltralightItalic-WebXL.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-LightItalic-WebXL.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-RegularItalic-WebXL.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-MediumItalic-WebXL.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex/EuclidFlex-BoldItalic-WebXL.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}


@font-face {
  font-family: 'Avenir Variable';
  src: url('/2018/fonts/AvenirNext_Variable.ttf') format('truetype');
}


body {
  margin: 3rem;
}

h1.euclid {
  font-family: "Euclid Flex";
  font-size: 4rem;
  font-weight: 400;  
}

h1.avenir {
  font-family: "Avenir Variable";
  font-size: 4rem;
  font-weight: 500;   
}
