@font-face {
  font-family: 'Roslindale Variable Beta';
  src: url('/fonts/Roslindale/RoslindaleVariableBeta-VF.woff2') format('woff2');
}
@font-face {
  font-family: 'Roslindale Variable Display';
  src: url('/fonts/Roslindale/RoslindaleVariableDisplay-VF.woff2') format('woff2');
}

/* --- Typography --- */

body {
  font-family: 'Roslindale Variable Beta', Georgia, serif;

  line-height: 1.6;
  margin: 3rem;
}
a {
	color:#2680b7;
	text-decoration: none;
}
h1 {
	font-family: 'Roslindale Variable Display', Georgia, serif;
	font-size: calc(2rem + 12vw);
	line-height: 1.2;
	margin: 0 0 2rem;
}
h3 {
	font-family: 'Roslindale Variable Display', Georgia, serif;
	font-size: calc(2rem + 3.5vw);
	line-height: 1.2;


	margin: 0;
}
p {
	margin-bottom: 0.5rem;
	text-indent: 1rem;
	font-size: 120%;
}
.intro {
	font-size: 200%;

	text-indent: 0;
	margin: 2rem 0 0;
}
time {
	font-size: 80%;
	text-transform: uppercase;
	text-align: end;
	color: #888;
	margin: 3.14rem 0 0;
}
footer p {
	
	
	font-size: 80%;
	text-indent: 0;
	line-height: 1.5;
	color: #888;
	margin: 0;
}
footer img {
	width: 40%;
	margin-inline-end: 1rem;
	circle(70px at 33.10% 23.71%)
	
	
}
p:last-of-type {
	font-family: georgia;
}


/* --- Layout --- */

article {
	display: grid;
	grid-gap:0 3rem;
	grid-template-columns: 1fr 1fr minmax(32ch, 55ch) minmax(15ch, 25ch) 1fr;
}
h1, h2, h3 {
	grid-column: 1 / -1;
}
p {
	grid-column: 3;
}
time {
	grid-column: 5;
}
.intro {
	grid-column: 3;
	grid-row: 3;
}
footer {
	grid-column: 4;
	grid-row: 4 / 7;
}


/* --- Marker --- */
p:last-of-type {
	text-indent: 0;
}
.measurement:nth-of-type(1) {
	color: #dc0f0f;
}
.measurement:nth-of-type(2) {
	color: #e89000;
}
.measurement:nth-of-type(3) {
	color: #d3d300;
}
.measurement:nth-of-type(4) {
	color: #53d400;
}
.measurement:nth-of-type(5) {
	color: #03b077;
}
.measurement:nth-of-type(6) {
	color: #4a7fd7;
}
.measurement:nth-of-type(7) {
	color: #5737e8;
}
.measurement:nth-of-type(8) {
	color: #c800ff;
}