* { box-sizing: border-box; }

@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-Ultralight-WebTrial.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-Light-WebTrial.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-Regular-WebTrial.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-Medium-WebTrial.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-Bold-WebTrial.woff2") format("woff2");
	font-weight: 800;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-UltralightItalic-WebTrial.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-LightItalic-WebTrial.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-RegularItalic-WebTrial.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-MediumItalic-WebTrial.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Euclid Flex';
  src: url("../fonts/Euclid-trial/EuclidFlex-BoldItalic-WebTrial.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}


@font-face {
  font-family: 'Avenir Variable';
  src: url('/2018/fonts/AvenirNext_Variable.ttf') format('truetype');
}


body {
  margin: 3rem;
}

h1.euclid {
  font-family: "Euclid Flex";
  font-size: 4rem;
  font-weight: 400;  
}

h1.avenir {
  font-family: "Avenir Variable";
  font-size: 4rem;
  font-weight: 500;   
}
