* {box-sizing: border-box;}

body {
  --red: #C53321;
  --yellow: #F0CB0B;
  --white: rgba(255, 255, 255, 0.7);
  background: #EADBCD;
}
h1, p, time span {
	margin: 0;
	text-shadow: 0 0; 
			/* needed to fix Core text bug in macOS 10.13
				 Discussion: https://bugzilla.mozilla.org/show_bug.cgi?id=1459858
				 Fix: https://twitter.com/ThunderNixon/status/1009878237068001280 */
}
h1 {
	display: contents;
}
time {
	display: contents;
}
h1 span i {
	font-style: normal;
	background: var(--white);
}
h1 span:nth-child(2) {
	background: var(--yellow);
	justify-self: start;
}
h1 span:nth-child(3) {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	justify-self: start;
	background: var(--yellow);
	z-index: -10;
}
h1 span:nth-child(3) big {
	width: 0.6em;
	height: 0.5em;
	background: var(--white);
	display: inline-block;
}
time span:nth-child(2) {
	background: var(--white);
}
b {
	min-width: 100px;
	min-height: 100px;
	background: var(--red);
}


/* ----------------- Typography -------------------- */

@font-face {
  font-family: 'Venn';
  src: url('../fonts/Venn/VennVF_W.woff2') format('woff2');
}
body { 
  font-family: 'Venn', 'Helvetica Neue', Helvetica, Avenir, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-size: calc(1vh + 2vw + 1rem);
  font-stretch: 84%;
	line-height: 0.9;
}

@media (max-width: 400px) {
	p, time { /* Weinmar + dates */
		font-stretch: 40%;
		font-weight: 300;
	}
	h1 {
		font-size: 2.2rem;
	}
	h1 span:nth-child(1) {
		font-stretch: 75%;
		font-weight: 563;
	}
	h1 span:nth-child(2) {
		font-stretch: 92%;
		font-weight: 789;
	}
	h1 span:nth-child(3) {
		line-height: 0.7;
		font-size: 4rem;
		font-stretch: 106%;
		font-weight: 800;
	}
	time span:nth-child(1),
	time span:nth-child(2) {
		background: black;
		color: var(--red);
		padding: 4px;
	}
}
@media (min-width: 400px) and (max-width: 600px) {
	p, time { /* Weinmar + dates */
		font-stretch: 40%;
		font-weight: 300;
	}
	h1 {
		font-size: 3rem;
	}
	h1 span:nth-child(1) {
		font-stretch: 75%;
		font-weight: 563;
	}
	h1 span:nth-child(2) {
		font-stretch: 92%;
		font-weight: 789;
	}
	h1 span:nth-child(3) {
		line-height: 0.7;
		letter-spacing: 1vh;
		font-size: 2.5rem;
		font-stretch: 106%;
		font-weight: 800;
	}
	time span:nth-child(1),
	time span:nth-child(2) {
		background: black;
		color: var(--red);
		padding: 4px;
	}
}
@media (min-width: 600px) and (max-width: 800px) {
	time { 
		font-stretch: 85%;
		font-weight: 800;
	}
	p {
		background: black;
		color: var(--red);
		padding: 4px;
		font-stretch: 40%;
		font-weight: 300;
	}
	h1 {
		font-size: 4rem;
	}
	h1 span:nth-child(1) {
		font-stretch: 75%;
		font-weight: 433;
	}
	h1 span:nth-child(2) {
		font-stretch: 92%;
		font-weight: 789;
	}
	h1 span:nth-child(3) {
		line-height: 0.7;
		letter-spacing: 0.5vh;
		font-size: 2.4rem;
		font-stretch: 106%;
		font-weight: 800;
	}
}
@media (min-width: 800px) {
	p, time { /* Weinmar + dates */
		font-stretch: 80%;
		font-weight: 650;
		font-size: 2rem;
	}
	h1 {
		font-size: 5rem;
	}
	h1 span:nth-child(1) {
		font-stretch: 75%;
		font-weight: 690;
	}
	h1 span:nth-child(2) {
		font-stretch: 93%;
		font-weight: 792;
	}
	h1 span:nth-child(3) {
		line-height: 0.7;
		letter-spacing: 0.7vh;
		font-size: 3rem;
		font-stretch: 106%;
		font-weight: 800;
	}
}

@media (max-height: 900px) {
	h1 span:nth-child(3) big {
		display: none;
	}
}
@media (max-height: 700px) {
	h1 span:nth-child(3) {
		font-size: 2rem;
		letter-spacing: 3.5px;
	}
}
@media (max-height: 500px) {
	h1 span:nth-child(3) {
		font-size: 1rem;
		letter-spacing: 3.5px;
	}
}


/* ----------------- Grid Layout -------------------- */

article {
	display: grid;
	column-gap: 4px;
	justify-content: center;
	height: 90vh;
	min-height: 350px;
}

@media (max-height: 350px) {
	body {
		margin: 17px 3rem;
	}
}

@media (max-width: 400px) {
	body { 
	  margin: 0.5rem;
	}
	article {
		grid-template-columns: auto 0.4rem auto auto; 
		grid-template-rows: 1fr auto auto auto;
		column-gap: 10px;
	}
	h1 span:nth-child(1) {
		display: none;
	}
	h1 span:nth-child(2) {
		display: none;
	}
	h1 span:nth-child(3) {
		grid-row: 2 / 5;
		grid-column: 1;
	}
	h1 span:nth-child(3) big {
		display: none;
	}
	p {
		display: none;
	}
	time span:nth-child(1) {
		grid-row: 3;
		grid-column: 2 / 4;
	}
	time span:nth-child(2) {
		grid-row: 4;
		grid-column: 2 / 4;
	}
	b {
		grid-row: 1 / 3;
		grid-column: 2;
		min-width: 0;
		min-height: 0;
		margin-bottom: 4px;
	}
}


@media (min-width: 400px) and (max-width: 600px) {
	body { 
	  margin: 1rem;
	}
	article {
		grid-template-columns: calc(8rem + 10vw) auto; 
		grid-template-rows: 1fr auto calc(8rem + 10vw) 1fr auto auto;
		row-gap: 4px;
	}
	h1 span:nth-child(1) {
		grid-row: 6;
		grid-column: span 2;
	}
	h1 span:nth-child(2) {
		grid-row: 7;
		grid-column: span 2;
	}
	h1 span:nth-child(3) {
		grid-row: 1 / 3;
		grid-column: 2;
	}
	h1 span:nth-child(3) big {
		display: none;
	}
	p {
		display: none;
	}
	time span:nth-child(1) {
		grid-row: 2;
		grid-column: 1;
		align-self: end;
		justify-self: start;
	}
	time span:nth-child(2) {
		grid-row: 4;
		grid-column: 1;
		align-self: start;
		justify-self: end;
	}
	b {
		grid-row: 3;
		grid-column: 1;
		min-width: 0;
		min-height: 0;
	}
}

@media (min-width: 600px) and (max-width: 800px) {
	body { 
	  margin: 2rem;
	}
	article {
		grid-template-columns: auto 11rem auto; 
		grid-template-rows: 1fr 11rem 1fr 1fr auto auto;
	}
	h1 span:nth-child(1) {
		grid-row: 6;
		grid-column: 1 / 5;
	}
	h1 span:nth-child(2) {
		grid-row: 7;
		grid-column: 1 / 5;
	}
	h1 span:nth-child(3) {
		grid-row: 1 / 4;
		grid-column: 4;
	}
	h1 span:nth-child(3) big {
		display: none;
	}
	p {
		grid-row: 2;
		grid-column: 1;
		align-self: start;
	}
	time span:nth-child(1) {
		grid-row: 1;
		grid-column: 2;
		align-self: end;
	}
	time span:nth-child(2) {
		grid-row: 3;
		grid-column: 2;
		align-self: start;
		justify-self: end;
	}
	b {
		grid-row: 2 / 3;
		grid-column: 2;
	}
}

@media (min-width: 800px) {
	body { 
	  margin: 5vh 3rem;
	}
	article {
		grid-template-columns: auto 6px auto 13rem auto; 
		grid-template-rows: auto 11rem auto 1fr auto auto;
	}
	h1 span:nth-child(1) {
		grid-row: 6;
		grid-column: 1 / 5;
	}
	h1 span:nth-child(2) {
		grid-row: 7;
		grid-column: 1 / 5;
	}
	h1 span:nth-child(3) {
		grid-row: 1 / 3;
		grid-column: 5;
	}
	p {
		grid-row: 2;
		grid-column: 1;
	}
	time span:nth-child(1) {
		grid-row: 2;
		grid-column: 3;
	}
	time span:nth-child(2) {
		grid-row: 3;
		grid-column: 5;
	}
	b {
		grid-row: 2 / 4;
		grid-column: 4;
	}
} 