@font-face {
  font-family: 'Agrandir Variable';
  src: url('../fonts/AgrandirVariable/AgrandirVariable.woff2') format('woff2');
}


* {
  box-sizing: border-box; }

html {
  font-family: 'Agrandir Variable', Helvetica;
  font-size: 100%; 
	line-height: 1.1;
}

body {
  max-width: 800px;
  margin: 4rem auto 0; }

header {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 200px) minmax(1rem, 3fr) max-content;
  grid-template-rows: 1fr 1.1em 1fr;
  font-size: 80%; }

header.navigation-only {
  margin-top: 5rem; }

header img {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  width: 100%;
  align-self: center; }

header nav {
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  font-weight: 700; }

header div {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  border-bottom: 2px solid black;
  margin-bottom: 1px; }

main {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  grid-template-rows: auto 4em auto;
  grid-gap: 1em; }

main.title-only {
  display: block;
  margin: 3rem 0 0 2rem; }

header h1 {
  display: none; }

main h2 {
  grid-row: 1;
  grid-column: 1;
  margin: 0.5em 0; 
  font-size: 2.3rem;
	letter-spacing: -3px;
	color: #036;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

main h3 {
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  color: white;
  font-size: 200%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 0.5em; 
  
font-weight: 770;
font-stretch: 100%;
font-size: 260%;
  
}
main p {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  line-height: 1.8; 
 
font-weight: 610;
font-stretch: 87%;  
}
main img {
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  z-index: -1;
  width: 100%; }

main h2 {
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-template-rows: 0.64em 0.36em 1.8em 1em; 
  font-stretch: 90%;
	font-weight: 775;
}

h2 span:nth-child(1) {
  grid-row: 1;
  grid-column: 1; }

h2 span:nth-child(2) {
  grid-row: 2;
  grid-column: 2; }

h2 span:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
  font-size: 230%; 
  font-weight: 778;
	font-stretch: 130%;
}

h2 span:nth-child(4) {
  grid-row: 4;
  grid-column: 1 / span 2; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  
font-size: 1.1rem;
font-weight: 600;
font-stretch: 60%;
line-height: 0.8;
}

nav a {
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none; }

nav li:nth-child(odd) {
  grid-row: 1; }

nav li:nth-child(even) {
  grid-row: 2; }

nav li:nth-child(1) {
  grid-column: 1; }

nav li:nth-child(2) {
  grid-column: 2; }

nav li:nth-child(3) {
  grid-column: 3; }

nav li:nth-child(4) {
  grid-column: 4; }

nav li:nth-child(5) {
  grid-column: 5; }

nav li:nth-child(1) a {
  color: #CA0F67; }

nav li:nth-child(2) a {
  color: #0E0761; }

nav li:nth-child(3) a {
  color: #189ACD; }

nav li:nth-child(4) a {
  color: #FECB4A; }

nav li:nth-child(5) a {
  color: #2D9864; }

footer {
  text-align: center;
  font-size: 70%;
  margin: 2rem 0; }
