
html {
	font-family: Avenir;
	line-height: 1.2;
	font-weight: 400;
	background-color: var(--primary);
}
main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	margin: 2rem;
}
.card {
	padding: 1.2rem;
	background: white;
	border-radius: 0.2rem;
}
.featured {
	grid-column: 1 / -1;
}
.headline {
	font-family: 'Roslindale', Georgia;
	font-size: 1.5rem;
	margin: 0 0 0.25em;
	color: var(--primary);
}
.featured .headline {
	font-size: 2.5rem;
}
.lede {
	font-size: 0.75rem;
	margin: 0;
}
