html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 21px; }

a {
  color: #e18f13; }

p {
  line-height: 2em;
  width: 64vw;
  margin: 12vw 24vw 12vw 12vw;
  padding-bottom: 6vw;
  margin-bottom: 6vw; }

@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {
  p::first-letter {
    color: rgba(255, 190, 150, 0.9);
    font-weight: bold;
    -webkit-initial-letter: 4;
    initial-letter: 4;
    margin-right: 0.5em; } }
.warning {
  color: red;
  font-size: 200%; }

@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
  .warning {
    display: none; } }
footer {
  border-top: 1px solid grey;
  padding-top: 2em;
  margin-top: 2em;
  font-size: 65%;
  color: gray;
  line-height: 1.4em;
  width: 64vw;
  margin: 12vw 24vw 12vw 12vw;
  padding-bottom: 6vw;
  margin-bottom: 6vw; }
