* { box-sizing: border-box; margin: 0; padding: 0; }
img { width: 100%; }

// -----------------------------------------------------------------------------------------------------------------------------
// Visual Styling for Set 2 Part 1
// -----------------------------------------------------------------------------------------------------------------------------

.set2-part1  {
  background: #ccc;
  font-family: Helvetica;
  color: #888;
  main {
    width: 90%;
    margin: 2em auto;
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  }
  section {
    padding: 2em;
  }
  ul {
    list-style: none;
  }
  h1 {
    margin: 0 0 1em;
  }
  a {
    color: #888;
  }
  footer {
    margin: 0 0 2em 5%;
  }
}


// ------------------------------------------------------------------------------
// Grid 2A
// ------------------------------------------------------------------------------

.grid-2A {
  ul { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
  }
}


// ------------------------------------------------------------------------------
// Grid 2B
// ------------------------------------------------------------------------------

.grid-2B {
  ul { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
  }
}


// ------------------------------------------------------------------------------
// Grid 2C
// ------------------------------------------------------------------------------

.grid-2C {
  ul { /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr 3fr 5fr);
    grid-gap: 20px;
  }
}
  
  