$red: rgba(249, 66, 58, 1);
$text: rgba(12, 12, 10, 0.8);
$background: #f6f3ea;
$page-margin: 5vw;

* {
  box-sizing: border-box; 
}
html {
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 14px;
  background: $background;
  color: $text;
  line-height: 1.3;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; 
}
img {
  max-width: 100%;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// -----------------------------------------------------------------------------------------------------------------------------
// Visual Styling for Set 2 Part 1
// -----------------------------------------------------------------------------------------------------------------------------

main {
  margin: 3rem auto;
  padding: 1rem;
  background: white;
  border: 5px solid black;
  box-shadow: 0px 0px 4px rbga(0,0,0,0.2);
}
h1 {
  margin-bottom: 0;
}
p {
  margin: 0.5em 0;
}
.media {
}



// ------------------------------------------------------------------------------
// Grid 3A
// ------------------------------------------------------------------------------

.grid-3A {
  main {
    width: 500px;
  }
}

// ------------------------------------------------------------------------------
// Grid 3B
// ------------------------------------------------------------------------------

.grid-3B {
  main {
    width: 500px;
  }
  img {
    float: left;
    width: 40%;
    margin-right: 5%;
  }
}

// ------------------------------------------------------------------------------
// Grid 3C
// ------------------------------------------------------------------------------

.grid-3C {
  main {
    width: 80%;
  }
  img {
    float: left;
    width: 40%;
    margin-right: 5%;
  }
  div {
    @include clearfix;
  }
}

// ------------------------------------------------------------------------------
// Grid 3D
// ------------------------------------------------------------------------------

.grid-3D {
  main {
    width: 80%;
  }
  .media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
//    grid-auto-rows: 200px;
    align-items: start;
    grid-gap: 1rem;
  }
  img {
    object-fit: none;
    grid-row: span 2;
  }
  h1 {
    margin: 0;
//    grid-column-end: -1;
  }
}

